<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="../cep-confirm-dialog/cep-confirm-dialog.html">

<dom-module id="cep-admin-view">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				background-color: white;
				padding: 15px;
				--vaadin-grid-row-cell: {
					padding: 0 5px 0 5px;
					font-size: 12px;
				};
			}
			.unlockedReviewButton {
				color: var(--success-color);
			}
			.lockedReviewButton {
				color: var(--error-color);
			}
			.viewReviewIcon {
				color: var(--primary-text-color);
			}
			.stateFilter {
				width: 25%;
			}
			#reviewsTable {

			}
			.viewReviewIcon.disabled {
				pointer-events: none;
			}
		</style>
		<iron-ajax
			id="reviewsAjax"
			url="{{settings.BASE_REST_URL}}/sql"
			handle-as="json"
			on-response="_onReviewsFetchResponse"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>

		<iron-ajax
			id="deleteReviewAjax"
			method="DELETE"
			url="{{settings.BASE_REST_URL}}/cep"
			content-type="application/json"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>

		<iron-ajax
			id="lockUnlockAjax"
			url="{{settings.BASE_REST_URL}}/cep"
			method="PUT"
			handle-as="json"
			content-type="application/json"
			on-response="_onLockUnlockResponse"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>

		<div class="layout vertical">
			<div class="layout horizontal">
				<vaadin-combo-box
					id="filterByState"
					class="stateFilter"
					items="{{reviewStates}}"
					placeholder="Filter By Status"
					on-selected-item-changed="_onGridFiltered">
				</vaadin-combo-box>
				<span class="flex"></span>
				<paper-input
					id="searchField"
					placeholder="Search Corps Names"
					on-keyup="_onSearchGrid">
				</paper-input>
			</div>
			<vaadin-grid
				id="reviewsTable"
				visible-rows="9">
			</vaadin-grid>
		</div>

		<cep-confirm-dialog
			id="confirmDelete">
		</cep-confirm-dialog>
	</template>
</dom-module>

<script type="text/javascript" src="cep-admin-view.js"></script>
