<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="../now-animated-behavior/now-animated-behavior.html">
<link rel="import" href="../now-scroll-behavior/now-scroll-behavior.html">

<link rel="import" href="../cep-eval-em/cep-eval-em.html">

<dom-module id="cep-eval" is="custom-style" include="iron-flex iron-flex-alignment">
	<template>
		<style>
			:host {
				display: block;
				box-sizing: border-box;
			}
		</style>
		<app-route
			id="emRoute"
			route="{{evalIndexRoute}}"
			pattern="/:evalPageIndex"
			data="{{evalPageData}}"
			active="{{emRouteActive}}">
		</app-route>
		<neon-animated-pages
			id="essentialMinistryPages"
			selected="{{evalPageData.evalPageIndex}}"
			attr-for-selected="page">
			<template is="dom-repeat" items="{{evaluation.review.essentialMinistries}}" as="em" index-as="idx">
				<neon-animatable page="{{idx}}">
					<cep-eval-em
						index="{{idx}}"
						evaluation="{{evaluation}}"
						essential-ministry="{{em}}"
						selected-year="{{selectedYear}}"
						settings="{{settings}}"
						user="{{user}}">
					</cep-eval-em>
				</neon-animatable>
			</template>
		</neon-animated-pages>
	</template>
</dom-module>

<script type="text/javascript" src="cep-eval.js"></script>
