<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">

<link rel="import" href="../cep-admin-item/cep-admin-item.html">

<dom-module id="cep-admin-iq">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				background-color: white;
				padding: 15px;
			}
		</style>
		<iron-ajax
			id="iqPutAjax"
			url="{{settings.BASE_REST_URL}}/cep"
			method="PUT"
			content-type="application/json"
			handle-as="json"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<iron-ajax
			id="iqPostAjax"
			url="{{settings.BASE_REST_URL}}/cep"
			method="POST"
			content-type="application/json"
			handle-as="json"
			on-response="_onIqItemCreated"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<iron-ajax
			id="iqDeleteAjax"
			url="{{settings.BASE_REST_URL}}/cep"
			method="DELETE"
			content-type="application/json"
			handle-as="json"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<template is="dom-repeat" items="{{essentialMinistries}}" as="em">
			<cep-admin-item
				item-value="{{em.name}}"
				item-id="{{em.emid}}"
				item-name="{{em.name}}"
				readonly
				no-edit
				collapse>
				<div id="emReadonlyContent" class="readonlyContent layout vertical">
					<span id="emName" class="readonlyName">{{em.name}}</span>
					<span id="emDef" class="readonlyDefinition">{{em.definition}}</span>
				</div>
				<div id="collapseContent" class="collapseContent">
					<template is="dom-repeat" items="{{em.impactQuestions}}" as="iq">
						<cep-admin-item
							item-value="{{iq.question}}"
							item-name="question"
							item-id="{{iq.iqid}}"
							item="{{iq}}"
							class="iqItem"
							can-add-remove draggable>
							<div class="editableContent">
								<iron-autogrow-textarea
									id="iqTextarea"
									bind-value="{{iq.question}}"
									name="question"
									rows="3">
									{{iq.question}}
								</iron-autogrow-textarea>
							</div>
							<span id="iqReadonlyQuestion" class="readonlyContent">{{iq.question}}</span>
						</cep-admin-item>
					</template>
				</div>
			</cep-admin-item>
		</template>
	</template>
</dom-module>

<script type="text/javascript" src="cep-admin-iq.js"></script>
