<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<style is="custom-style" include="iron-flex iron-flex-alignment">
	:root {
		--dark-primary-color: #a61b1b;
		--default-primary-color: #cc0000;
		--primary-color: #cc0000;
		--light-primary-color: #ffcdd2;
		--text-primary-color: #ffffff;
		--accent-color: #039be5;
		--primary-text-color: #333333;
		--secondary-text-color: #666464;
		--divider-color: #b6b6b6;
		--body-background-color: #666464;
		--toolbar-text-color: #ffffff;
		--success-context-color: #297729;
		--success-color: #297729;
		--error-context-color: #a61b1b;
		--error-color: #a61b1b;
		--warn-context-color: #eb9316;
		--warn-color: #eb9316;
		--info-context-color: #6f8fab;
		--action-background: #dcdcdc;
		--text-background-highlight: #e1e1e1;
		--icon-accent-color: #3e9cd2;

		/* paper-tabs */
		--paper-tabs-selection-bar-color: var(--accent-color);
		--paper-tabs-selection-bar: {
			height: 3px;
		};
		--paper-tab-ink: var(--light-primary-color);
		--paper-tab: {
			color: var(--text-primary-color);
			background-color: var(--default-primary-color);
			font-size: 17px;
		};
		--paper-tab-content-unselected: {
			color: var(--text-background-highlight);
		}

		/* paper-button */
		--paper-button-ink-color: var(--accent-color);

		/* corp-picker */
		--selected-list-title-mixin: {
			color: var(--success-context-color);
		};

		/* paper-icon-button */
		--paper-icon-button-ink-color: var(--light-primary-color);
		--paper-icon-button: {
			border-radius: 2px;
			margin: 2px;
			padding: 7px;
		};
		--paper-icon-button-hover: {
			cursor: pointer;
		};

		/* paper-radio-button */
		--paper-radio-button-checked-color: var(--accent-color);

		/* paper-icon-button */
		--paper-icon-button-ink-color: var(--light-primary-color);

		/* paper-input */
		--paper-input-container-label: {
			color: var(--primary-text-color);
		};
		--paper-input-container-label-focus: {
			color: var(--primary-text-color);
		};
		--paper-input-container-label-floating: {
			color: var(--primary-text-color);
		};
		--paper-input-container-underline-focus: {
			background: var(--accent-color);
		};
		--paper-input-container-disabled: {
			opacity: 0.85;
		};

		/* paper-toggle-button */
		--paper-toggle-button-checked-button-color: var(--accent-color);
		--paper-toggle-button-checked-bar-color: var(--accent-color);

		--admin-item-background-color: var(--action-background);
		--save-cancel-buttons-border-color: var(--divider-color);
		--save-button-color: var(--error-context-color);
		--cancel-button-color: var(--success-context-color);
		--add-button-color: var(--success-context-color);
		--remove-button-color: var(--error-context-color);
		--admin-item-collapse-background-color: var(--text-primary-color);

		/* essential-ministry-eval */
		--eval-section-title: {
			color: var(--default-primary-color);
			margin-bottom: 10px;
			background-color: var(--action-background);
			height: 26px;
			padding: 6px;
			line-height: 25px;
		}
		--emTitle-mixin: {
			font-size: 18px;
			font-weight: bold;
		}

	}

  /* General styles */

	body {
		margin: 0;
		font-family: 'Roboto', 'Noto', sans-serif;
		line-height: 1.5;
		min-height: 100vh;
		background-color: var(--text-background-highlight);
		overflow: hidden;
	}

	#toast .toast-hide-button {
		color: var(--accent-color);
		position: absolute;
		margin: 10px;
		right: 0;
		top: 5px;
	}

	.siteContainer {
		height: 92vh;
	}

	#footerToolbar {
		background: var(--primary-text-color);
		color: var(--toolbar-text-color);
	}

	#footerToolbar .copyright {
		font-size: 13px;
		height: 24px;
		letter-spacing: 0.5px;
		-webkit-font-smoothing: antialiased;
	}

	#footerToolbar .copyright img {
		position: absolute;
		width: 24px;
		height: 24px;
	}

	#footerToolbar .copyright span {
		margin-left: 30px;
	}

	#footerToolbar iron-icon {
		margin-left: 10px;
		height: 20px;
		width: 20px;
	}

	.emscComboBox {
		--paper-input-container-input: {
			font-size: 13px;
		};
		--paper-dropdown-menu: {
			width: 95px;
			background-color: var(--text-primary-color);
			padding-left: 5px;
		};
		--paper-menu-button: {
			padding: 0;
		};
		--paper-menu-button-dropdown: {
			z-index: 102;
		};
		--paper-input-container: {
			padding: 0;
		};
	}

	.essentialMinistryEval {
		--essential-ministry-leadership-assessment-font-size: 14px;
		--essential-ministry-save-button-background: var(--success-context-color);
		--essential-ministry-save-button-color: #ffffff;
	}

	/* mobile-small */
	@media all and (min-width: 0) and (max-width: 360px) and (orientation: portrait) { }
	/* mobile-large */
	@media all and (min-width: 361px) and (orientation: portrait) { }
	/* mobile-small-landscape */
	@media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) { }
	/* mobile-large-landscape */
	@media all and (min-width: 481px) and (orientation: landscape) { }
	/* tablet-small-landscape */
	@media all and (min-width: 600px) and (max-width: 960px) and (orientation: landscape) { }
	/* tablet-large-landscape */
	@media all and (min-width: 961px) and (orientation: landscape) { }
	/* tablet-small */
	@media all and (min-width: 600px) and (orientation: portrait) { }
	/* tablet-large */
	@media all and (min-width: 601px) and (max-width: 840px) and (orientation : portrait) { }
	/* desktop-x-small-landscape */
	@media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) { }
	/* desktop-x-small */
	@media all and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4/3) { }
	/* desktop-small-landscape */
	@media all and (min-width: 481px) and (max-width: 840px) and (orientation: landscape) { }
	/* desktop-small */
	@media all and (min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4/3) { }
	/* desktop-medium-landscape */
	@media all and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) { }
	/* desktop-medium */
	@media all and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4/3) { }
	/* desktop-large */
	@media all and (min-width: 1281px) and (max-width: 1600px) { }
	/* desktop-xlarge */
	@media all and (min-width: 1601px) and (max-width: 1920px) { }
</style>
