/*
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 14px;
}

input, textarea, button, select {
    font-family: 'Roboto', 'Noto', sans-serif;
}


.page-title {
  outline: none;
}

.ql-toolbar .ql-formats button.ql-save::after {
	content: 'Save' !important;
	font-size: medium !important;
}

.ql-align-center {
	text-align: center;
}
