@media print {
  body {
    -webkit-print-color-adjust: exact;
    background-color: white;
  }
}
body {
	overflow: auto !important;
}
.hpadded {
	padding: 0 15px;
}
.padded {
	padding: 15px;
}
.navbar {
  height: 90px;
}
.navbar .navbar-brand img {
  display: inline-block;
}
.sectionHeader {
  border: 1px solid #b6b6b6;
  background-color: #dcdcdc;
  padding: 0 15px;
}
.printEM {
  margin-bottom: 30px;
  page-break-after: always;
}
.printEM:last-child {
  page-break-after: avoid;
}
.printEM .printAccountabilityHeader {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 2px;
}
.printEM .printAccountabilityScore {
  text-align: right;
}
.printEM .printAccountabilityOverallScore {
  text-align: right;
  font-weight: bold;
}
.printEM .printImpactQuestionContainer .printImpactQuestion {
  font-weight: bold;
}
.printEM .printImpactQuestionContainer .printImpactQuestionAnswer {
  margin-bottom: 5px;
}
.printConcentrationAreas .printCALabel,
.printConcentrationAreas .printActLabel {
  font-size: smaller;
}
.printConcentrationAreas .printCAEmValue,
.printConcentrationAreas .printCASmValue,
.printConcentrationAreas .printActValue {
  font-weight: bold;
}
.printConcentrationAreas .printConcentrationArea1, .printConcentrationAreas .goalNotes, .printConcentrationAreas .printConcentrationArea2 {
  margin-bottom: 10px;
}
.printConcentrationAreas .goalNotes2 {
  margin-bottom: 15px;
}
.printConcentrationAreas h4.inlineHeader {
  display: inline-block;
}
.printConcentrationAreas .printGoalContainer {
  page-break-inside: avoid;
}
.printConcentrationAreas .printGoalContainer .printObjectiveContainer {
  margin-bottom: 15px;
}
.printConcentrationAreas .printGoalContainer .printObjectiveContainer .printObjectiveHeader > span {
  margin-top: 8px;
}
.printConcentrationAreas .printGoalContainer .printObjectiveContainer .printObjActionsContainer .printActionRow {
  margin-bottom: 5px;
}
.printConcentrationAreas .printGoalContainer:last-child {
  margin-bottom: 10px;
  border-bottom: 1px solid #b6b6b6;
}
.printPlanningAttendees {
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 20px;
}
