<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">

<!-- shared styles for all elements and index.html -->
<dom-module id="shared-styles">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment">
      .page-title {
        @apply(--paper-font-display2);
      }

      .app-menu {
        --paper-menu-selected-item: {
          color: #fff;
          background: var(--light-primary-color);
        }
      }

      paper-menu a > *, paper-menu paper-item > *, paper-menu paper-icon-item > * {
        pointer-events: none;
      }

      @media (max-width: 600px) {
        .page-title {
          font-size: 24px!important;
        }
      }
    </style>
  </template>
</dom-module>
