<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../bower_components/now-popover/now-popover.html">

<link rel="import" href="../file-saver.html">

<link rel="import" href="../moment-js.html">

<dom-module id="cep-planning-action">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;

				--paper-button: {
					padding: 0.2em 0.57em;
					background-color: var(--corp-planning-goal-cc-button-background, #297729);
					color: var(--corp-planning-goal-cc-button-color, #ffffff);
				};
				--paper-button-disabled: {
					background-color: #cfcfcf;
				};
			}
			input {
				font-size: 14px;
				padding: 5px;
				border: 1px solid var(--primary-text-color);
				box-sizing: border-box;
				width: 100%;
			}
			input[locked] {
				background-color: #cfcfcf;
			}
			iron-autogrow-textarea {
				box-sizing: border-box;
				border: 1px solid var(--primary-text-color);
				width: 100%;
				padding: 3px;
			}
			iron-autogrow-textarea[disabled], input[disabled]:not(.dueDateField) {
				background-color: #cfcfcf;
			}
			.datePickerButton {
				min-width: 28px;
				height: 29px;
				background-color: #efefef !important;
				color: #333333 !important;
				margin-left: 0;
				border: 1px solid var(--primary-text-color);
				border-left: 0;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
			.label {
				font-weight: 600;
				font-size: 12px;
			}
			.action {
				margin-bottom: 20px;
				padding: 0 15px;
			}
			.fieldLayout {
				margin-right: 5px;
			}
			.addButtonLayout {
				margin-left: 5px;
			}
			.datePickerHelpButton {
				color: var(--icon-accent-color);
			}
			.datePickerHelpPopover {
				--now-popover: {
					background-color: transparent;
					width: 400px;
				};
				--now-popover-material: {
					background-color: white;
					max-width: 100%;
					padding: 0 15px;
					line-height: initial;
				};
			}
			.paperDatePicker {
				--paper-date-picker-heading-date: {
					font-size: 28px;
					font-weight: 700;
					letter-spacing: -.01em;
					word-wrap: break-word;
				};
			}
			.ical {
				text-transform: none;
				font-size: 12px;
				background: #cdcdcd;
				display: inline-block;
				text-align: center;
				padding: 2px;
				border-radius: 0;
				min-width: 0;
				width: 29px;
				height: 29px;
				font-weight: 600;
			}
			.ical iron-icon {
				width: 20px;
				height: 20px;
				position: absolute;
				top: -3px;
				left: 50%;
				margin-left: -10px;
			}
			.ical span {
				display: block;
				margin-top: 9px;
			}
			.ical:hover {
				background: #009a16;
			}
			.inputWrapper {
				position: relative;
			}
			.reset {
				background: none;
			    color: #cc0000;
			    width: auto;
			    height: auto;
			    padding: 0;
			    min-width: 0;
			    border: 0;
			    margin: 0;
				position: absolute;
				right: 5px;
				top: 50%;
				margin-top: -9px;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease-out;
			}
			iron-autogrow-textarea + .reset {
				margin-top: -11px;
			}
			input:hover + .reset,
			input:focus + .reset,
			iron-autogrow-textarea:hover + .reset,
			iron-autogrow-textarea:focus + .reset,
			.reset:hover {
				opacity: 1;
				visibility: visible;
			}
			.reset iron-icon {
				width: 18px;
				height: 18px;
			}
		</style>
		<div class="action layout horizontal">
			<div class="layout vertical flex fieldLayout">
				<span class="stepLabel label">Action Step</span>
				<div class="inputWrapper">
					<iron-autogrow-textarea
						rows="1"
						max-rows="3"
						idx="{{actionIdx}}"
						objidx="{{objIdx}}"
						objid="{{objective.objid}}"
						name="step"
						id="step"
						on-change="_onActionChange"
						bind-value="{{action.step}}"
						disabled="{{locked}}">
					</iron-autogrow-textarea>
					<paper-button
						on-tap="_resetInput"
						class="reset"
						hidden$="{{hideStepReset}}">
						<iron-icon icon="icons:clear"></iron-icon>
					</paper-button>
				</div>
			</div>
			<div class="layout vertical flex fieldLayout">
				<span class="personResponsibleLabel label">Person Responsible</span>
				<div class="inputWrapper">
					<input
						is="iron-input"
						class="personResponsibleInput"
						on-change="_onActionChange"
						idx="{{actionIdx}}"
						objidx="{{objIdx}}"
						objid="{{objective.objid}}"
						name="personresponsible"
						id="personresponsible"
						bind-value="{{action.personresponsible}}"
						disabled="{{locked}}" />
					<paper-button
						on-tap="_resetInput"
						class="reset"
						hidden$="{{hidePersonReset}}">
						<iron-icon icon="icons:clear"></iron-icon>
					</paper-button>
				</div>
			</div>
			<div class="layout vertical flex fieldLayout">
				<span class="duedateLabel label">Due Date</span>
				<div class="layout horizontal">
					<div class="inputWrapper">
						<input
							idx="{{actionIdx}}"
							objidx="{{objIdx}}"
							objid="{{objective.objid}}"
							class="dueDateField"
							is="iron-input"
							name="duedate"
							id="duedate"
							bind-value="{{action.duedate}}"
							title="Use Picker Icon to the Right"
							locked$="{{locked}}"
							disabled />
						<paper-button
							on-tap="_resetInput"
							class="reset"
							hidden$="{{hideDueDateReset}}">
							<iron-icon icon="icons:clear"></iron-icon>
						</paper-button>
					</div>
					<paper-button
						idx="{{actionIdx}}"
						objidx="{{objIdx}}"
						objid="{{objective.objid}}"
						class="datePickerButton"
						title="Open Date Picker"
						on-tap="_openDialog"
						disabled="{{locked}}"
						hidden="{{locked}}">
						<iron-icon icon="event"
							objidx="{{objIdx}}"
							idx="{{actionIdx}}">
						</iron-icon>
					</paper-button>
					<paper-button
						on-tap="_iCal"
						class="ical">
						<iron-icon icon="icons:expand-more"></iron-icon>
						<span>iCal</span>
					</paper-button>
				</div>
			</div>
		</div>
		<paper-dialog
			id="datePickerDialog"
			class="paper-date-picker-dialog"
			entry-animation="scale-up-animation"
			exit-animation="fade-out-animation"
			on-iron-overlay-closed="_dismissDialog"
			on-iron-overlay-opened="_patchOverlay"
			modal>
			<div class="layout horizontal">
				<h2 class="flex">Select a Due Date</h2>
				<div>
					<paper-icon-button
						id="datePickerHelp"
						class="datePickerHelpButton"
						icon="help"
						title="Date Picker Help"
						toggles>
					</paper-icon-button>
					<now-popover
						class="datePickerHelpPopover"
						for="datePickerHelp"
						position="left"
						use-click>
						<p>Click the year to select a different year</p>
						<p>Click the Left/Right arrows to scroll through the months</p>
					</now-popover>
				</div>
			</div>
			<paper-date-picker
				id="datePicker"
				class="paperDatePicker"
				responsive-width="767px">
			</paper-date-picker>
			<div class="buttons">
				<paper-button dialog-dismiss>Cancel</paper-button>
				<paper-button dialog-confirm>OK</paper-button>
			</div>
		</paper-dialog>
		<paper-dialog
			id="noDueDateDialog"
			on-iron-overlay-opened="_patchOverlay"
			modal>
			<h2>No due set</h2>
			<paper-dialog-scrollable>
				You must at least have a due date for the objective
			</paper-dialog-scrollable>
			<div class="buttons">
				<paper-button dialog-dismiss>OK</paper-button>
			</div>
		</paper-dialog>
	</template>
</dom-module>

<script type="text/javascript" src="cep-planning-action.js"></script>
