.Title{
	font-weight:bold;
	font-size:24pt;
	color:rgb(0,0,255);
}
.SubTitle{
	font-weight:bold;
	font-size:14pt;
	color:rgb(0,0,0);
}
.FormFieldLabel{
	font-weight:bold;
	font-size:10pt;
	color:rgb(0,0,0);
}
.FormField{
	font-size:10pt;
	color:rgb(0,0,0);
}
.Scripture{
	font-size:10pt;
	font-style:italic;
	color:rgb(0,0,0);
}
.FormFieldLink{
	font-size:10pt;
	color:rgb(0,0,255);
}
.NoFormatFromCSS{
	font-weight:bold;
	font-size:10pt;
	color:rgb(0,0,0);
}
.ViewColumnRightAlign{
	text-align:right;
}
.ViewHeaderTextData{
	font-size:10pt;
	color:rgb(0,0,255);
}
.ViewColumnTextData{
	font-size:10pt;
	color:rgb(0,0,0);
}
.ViewColumnTextDataCategory{
	font-weight:bold;
	font-size:10pt;
	color:rgb(0,0,255);
}
.ViewHeaderNumberData{
	font-size:10pt;
	color:rgb(0,0,255);
	text-align:right;
}
.ViewColumnNumberData{
	font-size:10pt;
	color:rgb(0,0,0);
	text-align:right;
}
.ViewHeaderDateData{
	font-weight:bold;
	font-size:10pt;
	color:rgb(0,0,255);
}
.ViewColumnDateData{
	font-size:10pt;
	color:rgb(0,0,0);
}
.ViewHeaderTimeData{
	font-size:10pt;
	color:rgb(0,0,0);
}
.ViewColumnTimeData{
	font-size:10pt;
	color:rgb(0,0,0);
}
.EMCategoryRow{
	background-color:rgb(214,227,188);
}
.EMNotCategoryRow{
	background-color:rgb(255,255,255);
}
.PageBreakAfterAlways{
	page-break-after:always;	
}
.PageBreakAfterAuto{
	page-break-after:auto;
}
.PageBreakBeforeAlways{
	page-break-before:always;	
}
.PageBreakBeforeAuto{
	page-break-auto:auto;
}