<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-scrollpos-control/app-scrollpos-control.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">

<link rel="import" href="../now-animated-behavior/now-animated-behavior.html">

<link rel="import" href="../cep-eval-page/cep-eval-page.html">
<link rel="import" href="../cep-admin-page/cep-admin-page.html">
<link rel="import" href="../cep-confirm-dialog/cep-confirm-dialog.html">

<link rel="import" href="../now-browser-check/now-browser-check.html">

<dom-module id="now-app">
	<template>
		<style is="custom-style" include="shared-styles iron-flex iron-flex-alignment">
			:host {
				display: block;
				height: calc(100vh - 64px);
				background-color: white;
			}
			app-toolbar {
				background-color: var(--default-primary-color);
				color: #fff;
			}
			.spinner {
				position: fixed;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: 2;
				background: rgba(255, 255, 255, 0.5);
			}
			.spinner paper-spinnter {
				position: fixed;
				top: 50%;
			}
			.mainSpinner {
				/* left: 256px; */
			}
			[hidden] {
				display: none !important;
			}
			.mainContent, .drawerContent {
				bottom: 61px;
				height: 84vh;
				overflow: auto;
			}
			.logo {
				margin-right: 20px;
			}
			app-header-layout {
				z-index: inherit;
			}
			.saveNotification {
				width: 100%;
				--paper-toast-background-color: var(--success-color);
				--paper-toast-color: var(--text-primary-color);
				margin: 0;
			}
		</style>

		<app-location
			id="location"
			route="{{route}}"
			use-hash-as-path>
		</app-location>

		<app-route
			route="{{route}}"
			pattern="/eval"
			data="{{routeData}}"
			tail="{{evalTabRoute}}"
			active="{{evalRouteActive}}">
		</app-route>

		<app-route
			route="{{route}}"
			pattern="/admin"
			data="{{routeData}}"
			tail="{{adminTopTabRoute}}"
			active="{{adminRouteActive}}">
		</app-route>

		<iron-ajax
			id="settingsAjax"
			url="{{settingsUrl}}"
			last-response="{{settings}}"
			loading="{{mainLoading}}"
			handle-as="json"
			auto
			verbose>
		</iron-ajax>

		<iron-ajax
			id="keepAliveAjax"
			url="{{settings.BASE_REST_URL}}/sql"
			handle-as="json"
			verbose>
		</iron-ajax>

		<iron-ajax
			id="userAjax"
			url="{{settings.BASE_REST_URL}}/user"
			handle-as="json"
			last-response="{{user}}"
			loading="{{mainLoading}}">
		</iron-ajax>

		<!-- Site Layout -->
		<app-scrollpos-control selected="{{page}}"></app-scrollpos-control>
		<app-header-layout
			id="appHeaderLayout">
			<app-header
				scroll-target="content">
				<now-browser-check filter='[{"ie" : "12"}, {"edge" : "14"}]' hidden$="{{isHidden}}"></now-browser-check>
				<app-toolbar>
					<img class="logo" src="../../images/SA-Shield-58h.png" height="58" />
					<div class="contentTitle flex" title>[[contentTitle]]</div>
					<paper-icon-button icon="print" on-tap="_openPrint"></paper-icon-button>
				</app-toolbar>
			</app-header>
			<div id="content" class="mainContent">
				<div id="mainSpinner"
					 class="spinner mainSpinner layout horizontal center center-justified"
					 hidden$="{{!mainLoading}}">
					<paper-spinner active></paper-spinner>
				</div>
				<neon-animated-pages
					id="appPages"
					role="main"
					selected="[[page]]"
					attr-for-selected="id">
					<neon-animatable id="eval">
						<template is="dom-if" if="{{evalRouteActive}}">
							<cep-eval-page
								user="{{user}}"
								route="{{route}}"
								tab-route="{{evalTabRoute}}"
								main-loading="{{mainLoading}}"
								settings="{{settings}}">
							</cep-eval-page>
						</template>
					</neon-animatable>
					<neon-animatable id="admin">
						<template is="dom-if" if="{{adminRouteActive}}">
							<cep-admin-page
								user="{{user}}"
								settings="{{settings}}"
								route="{{route}}"
								top-tab-route="{{adminTopTabRoute}}"
								main-loading="{{mainLoading}}"
								settings="{{settings}}">
							</cep-admin-page>
						</template>
					</neon-animatable>
				</neon-animated-pages>
			</div>
		</app-header-layout>
		<paper-toast
			id="saveNotification"
			class="saveNotification"
			vertical-align="bottom"
			vertical-offset="65">
		</paper-toast>
		<cep-confirm-dialog
			id="noLocationIdDialog"
			no-buttons>
		</cep-confirm-dialog>
	</template>
</dom-module>

<script type="text/javascript" src="now-app.js"></script>
