<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">
<link rel="import" href="../ua-parser-js.html">

<dom-module id="now-browser-check">
	<template>
		<style>
			:host {
				display: block;
				box-sizing: border-box;
			}

			div {
				background: #000;
				color: #fff;
				text-align: center;
				font-weight: 600;
				padding: 15px;
				position: relative;
			}

			a {
				color: #d9930c;
				transition: all 0.3s ease-out;
				text-decoration: none;
			}

			a:hover {
				color: #f9bc48;
			}

			h1 {
				font-size: 1.2rem;
				margin: 0 0 10px 0;
			}

			p {
				margin: 0;
			}

			#close {
				position: absolute;
				right: 32px;
				top: calc(50% - 8px);
				width: 16px;
				height: 16px;
				opacity: 0.7;
				transition: all 0.3s ease-out;
			}

			#close:hover {
				opacity: 1;
			}

			#close:before, #close:after {
				position: absolute;
				left: 16px;
				content: ' ';
				height: 16px;
				width: 2px;
				background-color: #fff;
			}

			#close:before {
				transform: rotate(45deg);
			}

			#close:after {
				transform: rotate(-45deg);
			}

		</style>
		<div hidden$={{isHidden}}>
			<h1>Your browser is not supported anymore.</h1>
			<p>Some features might not work correctly with the version of the web browser you’re currently using. <a href="http://whatbrowser.org" target="_blank">Please update to a more recent one.</a></p>
			<a id="close" href="javascript:;"></a>
		</div>
	</template>
</dom-module>

<script type="text/javascript" src="now-browser-check.js"></script>
