<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../moment-js.html">

<dom-module id="cep-eval-verify">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				line-height: 36px;
				font-size: 20px;
				padding: 30px;
				background-color: white;

				--paper-button: {
					background-color: var(--success-color);
					color: white;
				};
				--paper-button-disabled: {
					background-color: var(--divider-color);
					color: var(--primary-text-color);
				};
			}
			a:-webkit-any-link {
				text-decoration: none;
			}
			.validationItem {
				padding: 5px 0;
			}
			iron-icon {
				height: 30px;
				width: 30px;
			}
			.iconOutline {
				border-radius: 50%;
				border-width: 2px;
				border-style: solid;
				padding: 0 2px;
			}
			.iconOutline[valid='valid'] {
				color: var(--success-color);
				border-color: var(--success-color);
			}
			.iconOutline[valid='invalid'] {
				color: var(--error-color);
				border-color: var(--error-color);
			}
			.validationType {
				margin-left: 10px;
			}
			.validationCompleteText {
				margin-left: 10px;
				color: var(--error-color);
			}
			.validationCompleteText:hover {
				border-bottom: 1px solid var(--error-color);
			}
			.validationName {
				margin-left: 10px;
			}
			.signSubmitContainer {
				font-size: 14px;
				line-height: 1.5;
			}
			.signSubmitContainer paper-button {
				margin-top: 20px;
			}
			.submitContainer h4 {
				margin-bottom: 0;
			}
			iron-autogrow-textarea {
				width: 98%;
				box-sizing: border-box;
				line-height: 24px;
				font-size: 14px;
			}
			iron-autogrow-textarea[disabled] {
				background-color: #cfcfcf;
			}
			.note {
				font-style: italic;
				font-size: smaller;
			}
			.signContainer {
				border-top: 1px solid var(--divider-color);
				margin-top: 20px;
				padding-top: 10px;
			}
			.signContainer h4 {
				margin-bottom: 5px;
			}
			.invalidLink:hover {
				color: var(--accent-color);
			}
			.verifySummary {
				font-size: 14px;
				line-height: 1.3;
				border-bottom: 1px solid #AFAFAF;
				margin-bottom: 15px;
				padding-bottom: 8px;
			}
			.verifySummary p:first-child {
				font-weight: normal;
			}
			.verifySummary p:last-child {
				font-weight: bold;
				text-align: center;
			}
		</style>
		<iron-ajax
			id="signSubmitAjax"
			url="{{settings.BASE_REST_URL}}/review"
			handle-as="json"
			loading="{{signSubmitLoading}}"
			on-response="_signSubmitDone"
			verbose>
		</iron-ajax>
		<div class="layout vertical">
			<div class="verifySummary">
				<p>A summary of your evaluation appears below. Please click on any items marked red to complete those sections before submitting your final evaluation.</p>
				<p>You will not be able to proceed until all items are marked green.</p>
			</div>
			<template is="dom-repeat" items="{{emValidationItems}}" as="emItem" index-as="emIdx">
				<div class="layout horizontal validationItem">
					<div class="iconOutline self-center" valid$="{{getEmIconClass(emItem)}}">
						<iron-icon icon="{{getEmIcon(emItem)}}"></iron-icon>
					</div>
					<template is="dom-if" if="{{!isEssMinValid(emItem)}}">
						<a
							href="#/eval/corpsevaluation/{{evaluation.review.revid}}/{{emIdx}}"
							title="Correct {{emItem.em.name}}"
							class="invalidLink">
							<span class="validationCompleteText self-center">
								Please Complete Corps Evaluation:
							</span>
						</a>
					</template>
					<template is="dom-if" if="{{isEssMinValid(emItem)}}">
						<span class="validationType self-center">Corps Evaluation:</span>
					</template>
					<span class="validationName self-center">{{emItem.em.name}}</span>
				</div>
			</template>
			<template is="dom-repeat" items="{{goalValidationItems}}" as="goal">
				<div class="layout horizontal validationItem">
					<div class="iconOutline" valid$="{{goal.validTxt}}">
						<iron-icon icon="{{goal.icon}}"></iron-icon>
					</div>
					<template is="dom-if" if="{{!goal.valid}}">
						<a
							href="#/eval/corpsplanning/{{evaluation.review.revid}}/0"
							title="Correct Planning Goal"
							class="invalidLink">
							<span class="validationCompleteText">
								Please Complete Planning Goal:
							</span>
						</a>
					</template>
					<template is="dom-if" if="{{goal.valid}}">
						<span class="validationType">Planning Goal:</span>
					</template>
					<span class="validationName">{{goal.identifier}}</span>
				</div>
			</template>
			<template is="dom-repeat" items="{{objValidationItems}}" as="obj">
				<div class="layout horizontal validationItem">
					<div class="iconOutline" valid$="{{obj.validTxt}}">
						<iron-icon icon="{{obj.icon}}"></iron-icon>
					</div>
					<template is="dom-if" if="{{!obj.valid}}">
						<a
							href="#/eval/corpsplanning/{{evaluation.review.revid}}/0"
							title="Correct Planning Objective"
							class="invalidLink">
							<span class="validationCompleteText">
								Please Complete Planning Objective:
							</span>
						</a>
					</template>
					<template is="dom-if" if="{{obj.valid}}">
						<span class="validationType">Planning Objective:</span>
					</template>
					<span class="validationName">{{obj.identifier}}</span>
				</div>
			</template>
			<template is="dom-repeat" items="{{actValidationItems}}" as="act">
				<div class="layout horizontal validationItem">
					<div class="iconOutline" valid$="{{act.validTxt}}">
						<iron-icon icon="{{act.icon}}"></iron-icon>
					</div>
					<template is="dom-if" if="{{!act.valid}}">
						<a
							href="#/eval/corpsplanning/{{evaluation.review.revid}}/0"
							title="Correct Planning Action"
							class="invalidLink">
							<span class="validationCompleteText">
								Please Complete Planning Action:
							</span>
						</a>
					</template>
					<template is="dom-if" if="{{act.valid}}">
						<span class="validationType">Planning Action:</span>
					</template>
					<span class="validationName">{{act.identifier}}</span>
				</div>
			</template>
		</div>
		<div
			class="layout vertical signSubmitContainer">
			<div class="layout vertical submitContainer">
				<h4>Attendees/Participants</h4>
				<span class="note">Comma Separated Names</span>
				<iron-autogrow-textarea
					rows="3"
					max-rows="3"
					bind-value="{{review.attendees}}"
					disabled="{{review.locked}}"
					on-change="_onVerifyTextareaChange">
				</iron-autogrow-textarea>
				<paper-button
					id="submitButton"
					disabled="{{_isSubmitDisabled(review, isValid)}}"
					class="self-center flex-1"
					on-tap="_onSubmit"
					raised>
					{{_getSubmitButtonText(review)}}
				</paper-button>
			</div>
			<template is="dom-if" if="{{_isDhqAdmin(user)}}">
				<div
					class="layout vertical signContainer">
					<h4>Divisional Staff Officer Review</h4>
					<iron-autogrow-textarea
						rows="3"
						max-rows="3"
						bind-value="{{review.officerreview}}"
						disabled="{{_isSignDisabled(review)}}"
						on-change="_onVerifyTextareaChange">
					</iron-autogrow-textarea>
					<paper-button
						id="signButton"
						disabled="{{_isSignDisabled(review)}}"
						class="self-center flex-1"
						on-tap="_onSign"
						raised>
						Sign and Submit Evaluation
					</paper-button>
				</div>
			</template>
		</div>

	</template>
</dom-module>

<script type="text/javascript" src="cep-eval-verify.js"></script>
