<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<!--
This behavior is utilities for working with numbers
-->
<script type="text/javascript" src="now-number-util-behavior.js"></script>
