<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">

<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">

<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<link rel="import" href="../cep-intro-links/cep-intro-links.html">
<link rel="import" href="../cep-eval/cep-eval.html">
<link rel="import" href="../cep-planning/cep-planning.html">
<link rel="import" href="../cep-eval-verify/cep-eval-verify.html">
<link rel="import" href="../now-validation-behavior/now-validation-behavior.html">
<link rel="import" href="../now-scroll-behavior/now-scroll-behavior.html">

<dom-module id="cep-eval-page">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				padding: 15px;

				/* paper-tabs */
				--paper-tabs-selection-bar-color: var(--accent-color);
				--paper-tabs-selection-bar: {
					height: 3px;
					z-index: 2;
				};
				--paper-tab-ink: var(--light-primary-color);
				--paper-tab: {};
				--paper-tab-content: {
					border-style: solid;
					border-width: 1px;
					border-color: var(--secondary-text-color);
					color: var(--primary-color);
					font-size: 17px;
					background-color: white;
					height: 97%;
					margin-bottom: -6px;
					font-weight: 400;
				};
				--paper-tab-content-unselected: {
					color: black;
					background-color: var(--divider-color);
					border-bottom: 0;
					height: 80%;
				};
			}
			.planningTab[disabled] /deep/ .tab-content {
				color: var(--secondary-text-color);
			}
			.evalTabs {
				margin-top: 20px;
			}
			.userName {
				font-size: 16px;
			}
			.signOutButton {
				padding-left: 0;
				padding-top: 0;
				margin-left: 0;
				color: var(--default-primary-color);
				font-size: 12px;
			}
			.signOutText {
				margin-right: 5px;
			}
			.signOutButton iron-icon {
				height: 18px;
				width: 18px;
			}
			#censusBureau {
				max-width: 250px;
				text-transform: uppercase;
				text-align: center;
				margin: 0 40px 0 0;
			}
			#censusBureau:hover img {
				opacity: 0.8;
				-webkit-transition: all 0.3s ease-out;
          		transition: all 0.3s ease-out;
			}
			#censusBureau img {
				max-width: 100%;
			}
			#censusBureau a {
				text-decoration: none;
				color: #666;
				font-size: 12px;
			}
			#censusBureau a:hover {
				color: #000;
			}
			#censusBureau a img {
				height: 50px;
			}
		</style>

		<app-route
			id="tabRoute"
			route="{{tabRoute}}"
			pattern="/:tab/:reviewId"
			data="{{tabData}}"
			tail="{{reviewIdTail}}"
			active="{{tabRouteActive}}">
		</app-route>

		<iron-ajax
			id="yearAjax"
			url="{{settings.BASE_REST_URL}}/sql"
			last-response="{{locationYears}}"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<iron-ajax
			id="evalAjax"
			url="{{settings.BASE_REST_URL}}/review"
			last-response="{{evaluation}}"
			on-response="_onEvaluationFetch"
			loading="{{evalLoading}}"
			verbose>
		</iron-ajax>
		<iron-ajax
			id="evalPutAjax"
			url="{{settings.BASE_REST_URL}}/review"
			method="PUT"
			content-type="application/json"
			loading="{{mainLoading}}"
			on-response="_emItemUpdated"
			verbose>
		</iron-ajax>
		<iron-ajax
			id="evalPostAjax"
			url="{{settings.BASE_REST_URL}}/review"
			method="POST"
			content-type="application/json"
			loading="{{mainLoading}}"
			on-response="_emItemUpdated"
			verbose>
		</iron-ajax>
		<div class="layout vertical">
			<div class="layout horizontal">
				<div class="userContainer layout vertical">
					<span class="userName">{{user.commonName}}</span>
					<span>
						<paper-button
							id="logoutButton"
							class="signOutButton"
							on-tap="_signOut">
							<span class="signOutText">Sign Out</span>
							<iron-icon icon="exit-to-app"></iron-icon>
						</paper-button>
				</div>
				<span class="flex"></span>
				<figure id="censusBureau">
					<a href="census.html?open&zipcode={{user.corpZip}}" target="_blank">
						<img src="../../images/census-bureau.png" alt="census bureau logo" />
						<figcaption>Learn More About Your Community</figcaption>
					</a>
				</figure>
				<vaadin-combo-box
					label="Location Review Year"
					value="{{selectedYear}}"
					items="{{locationYears}}"
					item-label-path="year"
					item-value-path="year"
					placeholder="Select a Review Year"
					disabled="{{evalLoading}}"
					always-float-label>
				</vaadin-combo-box>
			</div>
			<paper-tabs
				id="evalPageTabs"
				class="evalTabs"
				selected="{{tab}}"
				attr-for-selected="evalpage">
				<paper-tab
					evalpage="introandlinks">
					Intro & Links
				</paper-tab>
				<paper-tab
					evalpage="corpsevaluation">
					Corps Evaluation
				</paper-tab>
				<paper-tab
					class="planningTab"
					evalpage="corpsplanning"
					disabled$="{{isPlanningDisabled}}">
					Corps Planning
				</paper-tab>
				<paper-tab
					evalpage="verifyeval">
					Review & Submit
				</paper-tab>
			</paper-tabs>
			<neon-animated-pages
				id="reviewPages"
				class="reviewAnimatedPages"
				selected="{{tab}}"
				attr-for-selected="evalpage"
				entry-animation="scale-up-animation"
				exit-animation="fade-out-animation">
				<neon-animatable evalpage="introandlinks">
					<cep-intro-links
						user="{{user}}"
						selected-year="{{selectedYear}}"
						main-loading="{{mainLoading}}"
						settings="{{settings}}">
					</cep-intro-links>
				</neon-animatable>
				<neon-animatable evalpage="corpsevaluation">
					<cep-eval
						selected-year="{{selectedYear}}"
						evaluation="{{evaluation}}"
						main-loading="{{mainLoading}}"
						eval-index-route="{{reviewIdTail}}"
						settings="{{settings}}"
						user="{{user}}">
					</cep-eval>
				</neon-animatable>
				<neon-animatable evalpage="corpsplanning">
					<cep-planning
						selected-year="{{selectedYear}}"
						main-loading="{{mainLoading}}"
						evaluation="{{evaluation}}"
						settings="{{settings}}">
					</cep-planning>
				</neon-animatable>
				<neon-animatable evalpage="verifyeval">
					<cep-eval-verify
						evaluation="{{evaluation}}"
						main-loading="{{mainLoading}}"
						user="{{user}}"
						settings="{{settings}}">
					</cep-eval-verify>
				</neon-animatable>
			</neon-animated-pages>
		</div>
		<paper-dialog
			id="notAuthDialog"
			modal>
			<h2>Not Authorized</h2>
			<p>You are not authorized to access that review</p>
			<div class="buttons">
				<paper-button on-tap="_onAuthConfirm" raised>OK</paper-button>
			</div>
		</paper-dialog>
	</template>
</dom-module>

<script type="text/javascript" src="cep-eval-page.js"></script>
