<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<!--
This behavior is for scrolling functionality
-->
<script type="text/javascript" src="now-scroll-behavior.js"></script>