<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../cep-planning-objective/cep-planning-objective.html">

<dom-module id="cep-planning-goal">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
			}
			.goalHeader {
				background-color: var(--corp-planning-header-background-color, #cc0000);
				color: var(--corp-planning-header-color, #ffffff);
				margin: 20px 0 10px 0;
				height: 26px;
				padding: 6px;
				line-height: 25px;
			}
		</style>
		<div class="layout vertical">
			<div class="goalHeader layout horizontal center">
				<span>{{essentialMinistry.name}}</span>
			</div>
			<div class="layout vertical objectivesContainer">
				<template is="dom-repeat" items="{{goal.objectives}}" as="obj" index-as="oIdx">
					<cep-planning-objective
						class="flex"
						objective="{{obj}}"
						goal="{{goal}}"
						essential-ministry="{{essentialMinistry}}"
						locked="{{locked}}"
						evaluation="{{evaluation}}"
						hidden$="{{!obj.emscid}}">
					</cep-planning-objective>
				</template>
			</div>
		</div>
	</template>
</dom-module>

<script type="text/javascript" src="cep-planning-goal.js"></script>
