<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../../bower_components/now-popover/now-popover.html">
<link rel="import" href="../now-validation-behavior/now-validation-behavior.html">

<dom-module id="cep-eval-em">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				padding: 15px;
				background: white;

				--paper-radio-button-label-spacing: 5px;
			}
			.emTitleContainer {
				font-size: 18px;
				font-weight: bold;
				margin: 20px 0 5px 0;
			}
			.emTitle {
				color: var(--primary-text-color);
				/*@apply(--emTitle-mixin);*/
			}
			.incompleteMessage {
				color: var(--default-primary-color);
				text-align: center;
			}
			.completeMessage {
				color: var(--success-color);
				text-align: center;
			}
			.evalSectionTitle {
				color: var(--default-primary-color);
				margin-bottom: 10px;
				background-color: var(--text-background-highlight);
				height: 26px;
				padding: 6px;
				line-height: 25px;
				@apply(--eval-section-title);
			}
			.evalSectionTitleHelp {
				color: var(--icon-accent-color);
			}
			.laContainer {
				margin-top: 20px;
			}
			.leadershipScoresContainer {
				margin-top: 41px;
			}
			.leadershipAssessment {
				margin-right: 10px;
				font-size: var(--essential-ministry-leadership-assessment-font-size, 14px);
			}
			.bibleVerse {
				font-style: italic;
			}
			.iqContainer {
				margin-top: 20px;
			}
			.impactQuestion {
				margin-bottom: 15px;
			}
			.minEvalContainer {
				margin-top: 20px;
			}
			paper-radio-button {
				padding: 12px 0;
				margin-right: 5px;
				font-size: 12px;
			}
			.buttonContainer {
				margin-top: 40px;
			}
			.evalSaveContinueButton {
				background-color: var(--essential-ministry-save-button-background, #297729);
				color: var(--essential-ministry-save-button-color, white);
			}
			.evalSaveContinueButton:hover {
				cursor: pointer;
			}
			.evalSaveContinueButton[disabled] {
				background-color: var(--essential-ministry-save-disabled-button-background, #bfbfbf);
				color: var(--essential-ministry-save-disabled-button-color, #333);
			}
			.evalSaveContinueButton[disabled]:hover {
				cursor: default;
			}
			iron-autogrow-textarea {
				width: 100%;
			}
			iron-autogrow-textarea[disabled] {
				background-color: #cfcfcf;
			}
			.accountabilityTitle {
				font-size: 11px;
				font-weight: bold;
				text-align: right;
				line-height: 41px;
			}
			.accountabilityScore {
				text-align: right;
				line-height: 41px;
			}
			.totalScoreContainer {
				margin-top: 10px;
				font-weight: bold;
			}
			.totalScoreLabel {
				margin-right: 10px;
			}
			.subCategoryTitleContainer {
				white-space: nowrap;
			}
			.subCategoryTitle {
				border-bottom: 1px solid var(--accent-color);
				font-size: 13px;
			}
			.subCategoryTitle:hover {
				cursor: pointer;
			}
			.subCategoryTitlePopover {
				--now-popover: {
					background-color: transparent;
					width: inherit;
				};
				--now-popover-material: {
					background-color: white;
					max-width: 100%;
					padding: 0px;
				};
			}
			.subCategoryScoresContainer {
				white-space: nowrap;
			}
			.popoverContent h4 {
				margin-left: 15px;
				margin-bottom: 0;
			}
			.popoverContent .buttons {
				padding: 10px;
				border-top: 1px solid var(--divider-color);
			}
			.chartSpinner {
				z-index: 2;
				background: rgba(255, 255, 255, 0.8);
				position: absolute;
				height: 100%;
				width: 100%;
			}
			.chartsCloseButton {
				background-color: var(--success-color);
				color: var(--text-primary-color);
			}
			.iqHelpPopover, .laHelpPopover {
				--now-popover: {
					background-color: transparent;
					width: 400px;
				};
				--now-popover-material: {
					background-color: white;
					max-width: 100%;
					padding: 15px;
					line-height: initial;
				};
			}
			.ps {
				font-style: italic;
			}
			.readMoreLink {
				color: var(--icon-accent-color);
			}
		</style>
		<iron-ajax
			id="scoreHistoryAjax"
			url="{{settings.BASE_REST_URL}}/sql"
			handle-as="json"
			loading="{{chartLoading}}"
			on-response="_onScoresFetched"
			verbose>
		</iron-ajax>
		<div class="layout vertical">
			<div id="essentialMinistry" class="emTitleContainer">
				<span class="emTitle">{{essentialMinistry.name}}</span>
				<span
					class="incompleteMessage"
					hidden$="{{isValid}}">
					(Incomplete!)
				</span>
				<span
					class="completeMessage self-center"
					hidden$="{{!isValid}}">
					(Complete!)
				</span>
			</div>
			<div id="essentialMinistryDef" class="emDefinition">
				{{essentialMinistry.definition}}
			</div>
			<div id="laContainer" class="laContainer layout horizontal">
				<div
					id="leadershipAssessment"
					class="leadershipAssessment layout vertical flex">
					<div class="evalSectionTitle layout horizontal center">
						<span>Leadership Assessment</span>
					</div>
					<div class="layout vertical leadershipScoresContainer">
						<template
							is="dom-repeat"
							items="{{essentialMinistry.subCategories}}"
							as="subCat"
							index-as="idx">
							<div class="layout horizontal">
								<div
									class="flex self-center subCategoryTitleContainer">
									<span
										id="subCat{{idx}}"
										class="self-center subCategoryTitle"
										title="Click to show score history">
										{{subCat.subcategory}}
									</span>
									<now-popover
										position="right"
										class="subCategoryTitlePopover"
										cep-item="{{subCat}}"
										use-click>
										<div
											class="chartSpinner layout horizontal center center-justified"
											hidden$="{{!chartLoading}}">
											<paper-spinner active></paper-spinner>
										</div>
										<div class="layout vertical popoverContent">
											<h4>{{subCat.subcategory}} Scores Over Time</h4>
											<google-chart
												options="{{chartOptions}}"
												type="bar"
												cols="{{chartCols}}"
												rows="{{chartRows}}">
											</google-chart>
											<div class="buttons layout horizontal end-justified">
												<paper-button
													on-tap="closeCharts"
													class="chartsCloseButton"
													raised>
													Close
												</paper-button>
											</div>
										</div>
									</now-popover>
								</div>
								<div class="flex subCategoryScoresContainer">
									<paper-radio-group selected="{{subCat.score}}">
										<paper-radio-button
											name="1"
											disabled="{{locked}}"
											title="No Leader in Place">
											1
										</paper-radio-button>
										<paper-radio-button
											name="2"
											disabled="{{locked}}"
											title="CO Providing Leadership">
											2
										</paper-radio-button>
										<paper-radio-button
											name="3"
											disabled="{{locked}}"
											title="Leader in Place">
											3
										</paper-radio-button>
										<paper-radio-button
											name="4"
											disabled="{{locked}}"
											title="Leader in Place and Trained">
											4
										</paper-radio-button>
										<paper-radio-button
											name="5"
											disabled="{{locked}}"
											title="Leader in Place/Trained with Assistant/Replacement">
											5
										</paper-radio-button>
									</paper-radio-group>
								</div>
							</div>
						</template>
					</div>
				</div>
				<div id="accountability" class="accountability layout vertical flex">
					<div class="evalSectionTitle layout horizontal center">
						<span class="flex">Accountability</span>
						<paper-icon-button
							id="leadershipAssessmentHelp"
							class="evalSectionTitleHelp"
							icon="help">
						</paper-icon-button>
						<now-popover
							for="leadershipAssessmentHelp"
							position="left"
							class="laHelpPopover"
							use-click>
							<p>Automated scoring is based on the percent change between current and prior years or percent difference, for meetings, compared to a standard.  For more detailed information about scoring the line codes used please follow the link provided.</p>
							<p><a href="{{settings.BASE_URL}}/cepscoring.pdf" class="readMoreLink" target="_blank">Read More...</a></p>
						</now-popover>
					</div>
					<div class="layout horizontal">
						<span class="flex accountabilityTitle">Membership</span>
						<span class="flex accountabilityTitle">Meetings</span>
						<span class="flex accountabilityTitle">Attendance</span>
						<span class="flex accountabilityTitle">Giving</span>
						<span class="flex accountabilityTitle">Leadership</span>
						<span class="flex accountabilityTitle">Ministry</span>
					</div>
					<template
						id="scoresRepeat"
						is="dom-repeat"
						items="{{essentialMinistry.subCategories}}"
						as="subCat"
						index-as="idx">
						<div class="layout horizontal scoreRow">
							<span class="flex accountabilityScore">
								{{subCat.MembershipScore}}
							</span>
							<span class="flex accountabilityScore">
								{{subCat.StandardScore}}
							</span>
							<span class="flex accountabilityScore">
								{{subCat.GrowthScore}}
							</span>
							<span class="flex accountabilityScore">
								{{subCat.ParticipationScore}}
							</span>
							<span class="flex accountabilityScore">
								{{subCat.score}}
							</span>
							<span class="flex accountabilityScore">
								{{getMinistryScore(subCat, subCat.score)}}
							</span>
						</div>
					</template>
					<div class="layout horizontal totalScoreContainer self-end">
						<span class="totalScoreLabel">Overall Score:</span>
						<span class="totalScore">{{overallScore}}</span>
					</div>
				</div>
			</div>
			<div id="iqContainer" class="iqContainer layout vertical">
				<div class="evalSectionTitle layout horizontal center">
					<span class="flex">Impact Questions</span>
					<span>
						<paper-icon-button
							class="evalSectionTitleHelp"
							id="iqHelp"
							icon="help"
							title="Impact Question Help"
							toggles>
						</paper-icon-button>
						<now-popover
							class="iqHelpPopover"
							for="iqHelp"
							position="left"
							use-click>
							<p>If using an iPad. On your keyboard there should be a microphone icon. Click the icon to use voice input.</p>
							<p class="ps">Be sure to turn off voice input once finished or it will continue to record, even after selecting another field</p>
						</now-popover>
					</span>
				</div>
				<div class="impactQuestions layout vertical">
					<template is="dom-repeat" items="{{essentialMinistry.impactQuestions}}" as="question" index-as="idx">
						<div class="impactQuestion layout vertical">
							<span>{{question.question}}</span>
							<iron-autogrow-textarea
								rows="3"
								max-rows="3"
								idx="{{idx}}"
								bind-value="{{question.answer}}"
								disabled="{{locked}}"
								on-change="_onImpactQuestionChange">
							</iron-autogrow-textarea>
						</div>
					</template>
				</div>
			</div>
			<div class="layout horizontal buttonContainer">
				<paper-button
					id="backButton"
					class="evalBackButton"
					on-tap="_onBack"
					hidden$="{{prevhidden}}"
					raised>
					<iron-icon icon="arrow-back"></iron-icon>
					Back
				</paper-button>
				<span
					class="incompleteMessage self-center flex"
					hidden$="{{isValid}}">
					(Incomplete!)
				</span>
				<span
					class="completeMessage self-center flex"
					hidden$="{{!isValid}}">
					(Complete!)
				</span>
				<paper-button
					id="saveContinueButton"
					class="evalSaveContinueButton"
					on-tap="_onSaveContinue"
					hidden$="{{nexthidden}}"
					raised>
					Save & Continue
					<iron-icon icon="arrow-forward"></iron-icon>
				</paper-button>
				<paper-button
					id="continueToPlanningButton"
					class="evalSaveContinueButton"
					on-tap="_onContinuePlanning"
					hidden$="{{toPlanningHidden}}"
					raised>
					Save & Continue
					<iron-icon icon="arrow-forward"></iron-icon>
				</paper-button>
			</div>
		</div>
	</template>
</dom-module>

<script type="text/javascript" src="cep-eval-em.js"></script>
