<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../../styles/app-theme.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../../bower_components/now-popover/now-popover.html">
<link rel="import" href="../now-number-util-behavior/now-number-util-behavior.html">

<!--
This element is an app layout AND the census data. Since this element is meant to
be placed in a page of it's own, it includes the app layout information.
-->
<dom-module id="cep-census">
	<template>
		<style is="custom-style" include="shared-styles iron-flex iron-flex-alignment">
			:host {
				display: block;
				height: calc(100vh - 64px);
				background-color: white;

				--paper-button: {
					background-color: var(--success-color);
					color: var(--text-primary-color);
				};
			}
			app-toolbar {
				background-color: var(--default-primary-color);
				color: #fff;
			}
			.spinner {
				position: fixed;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: 2;
				background: rgba(255, 255, 255, 0.5);
			}
			.mainContent {
				bottom: 61px;
				height: 84vh;
				overflow: auto;
			}
			.censusContainer {
				padding: 15px;
			}
			[hidden] {
				display: none !important;
			}
			.logo {
				margin-right: 20px;
			}
			.contentTitle {

			}
			app-header-layout {
				z-index: inherit;
			}
			app-header-layout /deep/ #contentContainer {
				z-index: inherit;
			}
			.censusFields input {
				margin-right: 10px;
			}
			.censusFields paper-icon-button {
				color: var(--success-color);
			}
			.censusFields .helpContainer paper-icon-button, .chartContainer paper-icon-button.helpButton {
				color: var(--icon-accent-color);
			}
			.chartContainer {
				text-align: center;
				width: 23%;
				float: left;
				margin-right: 15px;
			}
			google-chart {
				height: auto;
				width: 100%;
			}
			google-chart[type="pie"] {
				margin-top: 20px;
			}
			google-chart #chartdiv div["ltr"],
			google-chart #chartdiv svg {
				/*width: 100%;*/
			}
			.fieldContainer span {
				font-size: 12px;
			}
			.noData {
				font-size: 18px;
				color: var(--dark-primary-color);
				text-align: center;
				margin-top: 30px;
				opacity: 0.7;
			}
			.buttons {
				padding-top: 20px;
			}
			@media (max-width: 768px) {
				.chartContainer {
					float: none;
					width: 50%;
					display: block !important;
					margin-right: 0;
				}
				[hidden] {
					display: none !important;
				}
			}
			@media (min-width: 0) and (max-width: 360px) {
				.chartContainer {
					float: none;
					width: 100%;
					display: block !important;
					margin-right: 0;
				}
				[hidden] {
					display: none !important;
				}
			}
			.dataHeader h3 {
				margin-bottom: 0;
			}
			.dataHeader h4 {
				margin: 0;
			}
			.censusHelpPopover {
				--now-popover: {
					background-color: transparent;
					width: 400px;
				};
				--now-popover-material: {
					background-color: white;
					max-width: 100%;
					padding: 15px;
					line-height: initial;
				};
			}
			.chartHelpPopover {
				--now-popover: {
					background-color: transparent;
					width: 400px;
					font-size: 12px;
				};
				--now-popover-material: {
					background-color: white;
					max-width: 100%;
					padding: 15px;
					line-height: initial;
				};
			}
		</style>
		<iron-ajax
			id="settingsAjax"
			url="{{getSettingsUrl()}}"
			handle-as="json"
			loading="{{mainLoading}}"
			last-response="{{settings}}"
			auto
			verbose>
		</iron-ajax>
		<iron-ajax
			id="censusAjax"
			url="{{getUrl(settings)}}"
			handle-as="json"
			loading="{{mainLoading}}"
			last-response="{{censusData}}"
			verbose>
		</iron-ajax>
		<iron-ajax
			id="userAjax"
			url="{{settings.BASE_REST_URL}}/user"
			handle-as="json"
			last-response="{{user}}"
			loading="{{mainLoading}}"
			auto
			verbose>
		</iron-ajax>
		<app-header-layout
			id="appHeaderLayout">
			<app-header
				scroll-target="content">
				<app-toolbar>
					<img class="logo" src="../../images/SA-Shield-58h.png" height="58" />
					<template is="dom-if" if="{{zipCode}}">
						<div class="contentTitle flex" title>Census Data::{{zipCode}}</div>
					</template>
					<template is="dom-if" if="{{!zipCode}}">
						<div class="contentTitle flex" title>Census Data</div>
					</template>
				</app-toolbar>
			</app-header>
			<div id="content" class="mainContent">
				<div id="mainSpinner"
					 class="spinner mainSpinner layout horizontal center center-justified"
					 hidden$="{{!mainLoading}}">
					<paper-spinner active></paper-spinner>
				</div>
				<div class="layout vertical censusContainer">
					<div class="layout horizontal censusFields">
						<div class="layout vertical fieldContainer">
							<paper-input always-float-label label="Zip Code" value="{{zipCode}}" id="zipCode" placeholder="Enter a Zip Code"></paper-input>
						</div>
						<div class="layout vertical fieldContainer">
							<paper-input always-float-label id="radius" label="Radius (In Miles)" value="{{radius}}"></paper-input>
						</div>
						<paper-button
							raised
							title="Fetch Census Data"
							on-tap="fetchCensusData"
							disabled$="{{!zipCode}}">Fetch Census Data</paper-button>
						<span class="flex"></span>
						<div class="helpContainer">
							<paper-icon-button
								id="censusHelp"
								class="helpButton"
								icon="help">
							</paper-icon-button>
							<now-popover
								for="censusHelp"
								position="left"
								class="censusHelpPopover"
								use-click>
								<p>Enter a Zip Code and click the 'fetch' button</p>
								<p>Adding a radius will include any other zip code's data within the radius of the entered zip code.</p>
							</now-popover>
						</div>
					</div>
					<div class="noData" hidden$="{{censusData}}">
						No Data
					</div>
					<div class="dataHeader layout vertical" hidden$="{{!censusData}}">
						<h3>Census Data for {{zipCode}} within a {{radius}} Mile Radius</h3>
						<template is="dom-if" if="{{showMultipleZips}}">
							<h4>Includes zip codes: {{getZipCodes(censusData)}}</h4>
						</template>
						<span>
							Total Population: {{getTotalPopulation(censusData)}}
						</span>
					</div>
					<div class="layout horizontal wrap" hidden$="{{!censusData}}">
						<div class="chartContainer byGender">
							<h4>
								Gender
								<paper-icon-button
									id="byGender"
									icon="description"
									on-tap="showData"
									title="Display Raw Data">
								</paper-icon-button>
							</h4>
							<google-chart
								id="genderChart"
								type="pie"
								options="{{pieChartOptions}}"
								data="{{_getGenderData(censusData)}}">
							</google-chart>
						</div>
						<div class="chartContainer byRace">
							<h4>
								Race
								<paper-icon-button
									id="byRace"
									icon="description"
									on-tap="showData"
									title="Display Raw Data">
								</paper-icon-button>
							</h4>
							<google-chart
								id="raceChart"
								type="pie"
								options="{{pieChartOptions}}"
								data="{{_getRaceData(censusData)}}">
							</google-chart>
						</div>
						<div class="chartContainer byHousehold">
							<h4>
								Family Demographics
								<paper-icon-button
									id="byHousehold"
									icon="description"
									on-tap="showData"
									title="Display Raw Data">
								</paper-icon-button>
							</h4>
							<google-chart
								id="householdChart"
								type="column"
								options="{{householdOptions}}"
								data="{{_getHouseholdData(censusData)}}">
							</google-chart>
						</div>
						<div class="chartContainer byMedianAge">
							<h4>
								Median Age
								<paper-icon-button
									id="byAge"
									icon="description"
									on-tap="showData"
									title="Display Raw Data">
								</paper-icon-button>
							</h4>
							<google-chart
								id="ageChart"
								type="bar"
								options="{{medianAgeOptions}}"
								data="{{_getMedianAgeData(censusData)}}">
							</google-chart>
						</div>
						<div class="chartContainer byIncome">
							<h4>
								Median Income
								<paper-icon-button
									id="byIncome"
									icon="description"
									on-tap="showData"
									title="Display Raw Data">
								</paper-icon-button>
							</h4>
							<google-chart
								id="incomeChart"
								type="column"
								options="{{incomeOptions}}"
								data="{{_getIncomeData(censusData)}}">
							</google-chart>
						</div>
						<div class="chartContainer incomeScatter" hidden$="{{hideScatterChart(censusData)}}">
							<div class="layout horizontal center-justified">
								<h4>Household Income Disparity</h4>
								<paper-icon-button
									id="meanOfMedians"
									icon="help"
									class="helpButton self-center">
								</paper-icon-button>
								<now-popover
									for="meanOfMedians"
									position="left"
									class="chartHelpPopover"
									use-click>
									<h4>Income Disparity</h4>
									<p>This chart will help in determining where a Corp should focus their efforts for donations (top right of the chart) or for services (bottom left of the chart).</p>
									<h4>To use this chart:</h4>
									<ul>
										<li>
											<p>Drag to draw a square over a specific area to zoom that part of the chart</p>
										</li>
										<li>
											<p>Right-Click anywhere in the chart to reset the zoom level</p>
										</li>
									</ul>
								</now-popover>
							</div>
							<google-chart
								id="meanOfMediansChart"
								type="scatter"
								options="{{meanIncomeOptions}}"
								data="{{_getMeanOfMedianData(censusData)}}">
							</google-chart>
						</div>
						<div class="chartContainer singleMomScatter" hidden$="{{hideScatterChart(censusData)}}">
							<div class="layout horizontal center-justified">
								<h4>Single Mother Income Disparity</h4>
								<paper-icon-button
									id="singleMomHouseholds"
									icon="help"
									class="helpButton self-center">
								</paper-icon-button>
								<now-popover
									for="singleMomHouseholds"
									position="left"
									class="chartHelpPopover"
									use-click>
									<h4>Single Mother Income Disparity</h4>
									<p>This chart will help you decide where to target youth programs.</p>
									<h4>To use this chart:</h4>
									<ul>
										<li>
											<p>Drag to draw a square over a specific area to zoom that part of the chart</p>
										</li>
										<li>
											<p>Right-Click anywhere in the chart to reset the zoom level</p>
										</li>
									</ul>
								</now-popover>
							</div>
							<google-chart
								id="singleMotherChart"
								type="scatter"
								options="{{singleMotherOptions}}"
								data="{{_getSingleMomData(censusData)}}">
							</google-chart>
						</div>
						<div class="chartContainer singleMomScatter" hidden$="{{hideScatterChart(censusData)}}">
							<div class="layout horizontal center-justified">
								<h4>w/Children Income Disparity</h4>
								<paper-icon-button
									id="childHouseholds"
									icon="help"
									class="helpButton self-center">
								</paper-icon-button>
								<now-popover
									for="childHouseholds"
									position="left"
									class="chartHelpPopover"
									use-click>
									<h4>Households w/Children by Income</h4>
									<p>This chart will help you decide where to target youth volunteer programs.</p>
									<h4>To use this chart:</h4>
									<ul>
										<li>
											<p>Drag to draw a square over a specific area to zoom that part of the chart</p>
										</li>
										<li>
											<p>Right-Click anywhere in the chart to reset the zoom level</p>
										</li>
									</ul>
								</now-popover>
							</div>
							<google-chart
								id="childHouseholdsChart"
								type="scatter"
								options="{{childHouseholdOptions}}"
								data="{{_getChildHouseholdData(censusData)}}">
							</google-chart>
						</div>
					</div>
				</div>
			</div>
		</app-header-layout>
		<paper-dialog id="otherChartDialog">
			<h4>{{otherChartTitle}}</h4>
			<div class="dialog-content">
				<google-chart
					id="otherChart"
					type="{{otherChartType}}"
					options="{{otherChartOptions}}"
					data="{{otherChartData}}">
				</google-chart>
			</div>
			<div class="buttons layout horizontal">
				<paper-button dialog-dismiss raised>Close</paper-button>
			</div>
		</paper-dialog>
		<paper-dialog id="dataDisplayDialog">
			<h4>{{dataDisplayDialogTitle}}</h4>
			<div class="dialog-content layout vertical">
				<ul>
					<template is="dom-repeat" items="{{displayData}}" index-as="idx">
						<template is="dom-if" if="{{idx}}">
							<li>{{item.0}} - {{item.1}}</li>
						</template>
					</template>
				</ul>
			</div>
			<div class="buttons layout horizontal">
				<paper-button dialog-dismiss raised>Close</paper-button>
			</div>
		</paper-dialog>
	</template>
</dom-module>

<script src="cep-census.js"></script>
