<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

		<title>CEP 2018</title>

		<link rel="shortcut icon" sizes="32x32" href="images/now60.png">

		<meta name="theme-color" content="#fff">
		<link rel="manifest" href="manifest.json">

		<script>
// setup Polymer options
window.Polymer = {lazyRegister: true, dom: 'shady'};
// load webcomponents polyfills
(function() {
	if ('registerElement' in document &&
		'import' in document.createElement('link') &&
		'content' in document.createElement('template')) {
		// browser has web components
	} else {
		// polyfill web components
		var e = document.createElement('script');
		e.src = 'bower_components/webcomponentsjs/webcomponents-lite.min.js';
		document.head.appendChild(e);
	}
})();
		</script>

		<!-- build:css styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild-->

		<!-- Because this project uses vulcanize this should be your only html import
	         in this file. All other imports should go in elements.html -->
		<link rel="import" href="elements/elements.html">

		<!-- For shared styles, shared-styles.html import in elements.html -->
		<style is="custom-style" include="shared-styles"></style>
	</head>
	<body unresolved class="layout vertical fit">
		<span id="browser-sync-binding"></span>
		<template is="dom-bind" id="app">
			<div class="siteContainer">
				<now-app
					id="nowApp"
					content-title="{{contentTitle}}">
				</now-app>
				<!-- Footer -->
				<paper-toolbar
					id="footerToolbar">
					<div id="copyrightNotice" class="copyright flex self-center layout horizontal">
						<img class="self-center" src="images/RPN_Footer_Logo.png"/>
						<span class="self-center">&copy;2017 Red Pill Now. All Rights Reserved</span>
					</div>
				</paper-toolbar>
				<paper-toast id="toast">
						<span
							class="toast-hide-button"
							role="button"
							tabindex="0"
							onclick="app.$.toast.hide()">
							Ok
						</span>
				</paper-toast>
			</div>
		</template>
		<script src="scripts/app.js"></script>
	</body>
</html>
