<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

	<title>Print CEP 3.0</title>

	<link rel="shortcut icon" sizes="32x32" href="images/now60.png">

	<meta name="theme-color" content="#fff">
	<link rel="manifest" href="manifest.json">

	<script>
// setup Polymer options
window.Polymer = {lazyRegister: true, dom: 'shady'};
// load webcomponents polyfills
(function () {
	if ('registerElement' in document &&
		'import' in document.createElement('link') &&
		'content' in document.createElement('template')) {
		// browser has web components
	} else {
		// polyfill web components
		var e = document.createElement('script');
		e.src = 'bower_components/webcomponentsjs/webcomponents-lite.min.js';
		document.head.appendChild(e);
	}
})();
	</script>

	<!-- build:css styles/print.css -->
	<link rel="stylesheet" href="styles/print.css">
	<!-- endbuild-->
	<link rel="import" href="elements/elements.html">
	<link rel="import" href="elements/bootstrap.html">

	<!-- For shared styles, shared-styles.html import in elements.html -->
	<style is="custom-style" include="shared-styles"></style>
</head>
	<body unresolved class="layout vertical">
		<span id="browser-sync-binding"></span>
		<cep-print-page revid="{{routeData.revid}}"></cep-print-page>
	</body>
</html>
