<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<dom-module id="cep-print-em">
	<template>
		<style>
			:host {
				display: block;
				box-sizing: border-box;
			}
		</style>
		<h4 class="printEMName">{{em.name}}</h4>
		<div class="printEMDefinition">
			{{em.definition}}
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="printLATitleContainer sectionHeader">
					<h5>Leadership Assessment</h5>
				</div>
				<div class="row">&nbsp;</div>
				<template is="dom-repeat" items="{{em.subCategories}}" as="subCat">
					<div class="row">
						<div class="col-xs-6">{{subCat.subcategory}}</div>
						<div class="col-xs-6">{{subCat.score}}</div>
					</div>
				</template>
				<div class="row hpadded">&nbsp;</div>
			</div>
			<div class="col-xs-6">
				<div class="printLAAccountabilityContainer sectionHeader">
					<h5>Accountability</h5>
				</div>
				<div class="row printAccountabilityHeader">
					<span class="col-xs-2">Membership</span>
					<span class="col-xs-2">Meetings</span>
					<span class="col-xs-2">Attendance</span>
					<span class="col-xs-2">Giving</span>
					<span class="col-xs-2">Leadership</span>
					<span class="col-xs-2">Ministry</span>
				</div>
				<template is="dom-repeat" items="{{em.subCategories}}" as="acctSubCat">
					<div class="row">
						<div class="col-xs-2 printAccountabilityScore">
							<span>{{acctSubCat.MembershipScore}}</span>
						</div>
						<div class="col-xs-2 printAccountabilityScore">
							<span>{{acctSubCat.StandardScore}}</span>
						</div>
						<div class="col-xs-2 printAccountabilityScore">
							<span>{{_getGrowthScore(acctSubCat)}}</span>
						</div>
						<div class="col-xs-2 printAccountabilityScore">
							<span>{{acctSubCat.ParticipationScore}}</span>
						</div>
						<div class="col-xs-2 printAccountabilityScore">
							<span>{{acctSubCat.score}}</span>
						</div>
						<div class="col-xs-2 printAccountabilityScore">
							<span>{{_getMinistryScore(acctSubCat)}}</span>
						</div>
					</div>
				</template>
				<div class="printAccountabilityOverallScore hpadded row">
					Overall Score: {{_getOverallScore(em)}}
				</div>
			</div>
		</div>
		<div class="printImpactQuestionContainer padded row">
			<div class="printImpactQuestionsContainer sectionHeader">
				<h5>Impact Questions</h5>
			</div>
			<template is="dom-repeat" items="{{em.impactQuestions}}" as="iq">
				<div class="printImpactQuestion">
					<span>{{iq.question}}</span>
				</div>
				<div class="printImpactQuestionAnswer">
					<span>{{iq.answer}}</span>
				</div>
				</template>
		</div>
	</template>
</dom-module>

<script type="text/javascript" src="cep-print-em.js"></script>
