<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../quill-js.html">

<dom-module id="now-quill-editor">
	<template>
		<style>
			:host {
				display: block;
				box-sizing: border-box;
			}
			.quillEditorContainer {
				height: var(--now-quill-editor-height, 360px);
			}
			.ql-toolbar .ql-formats button.ql-save::after {
				content: 'Save' !important;
				font-size: medium !important;
			}
		</style>
		<div id="editor" class="quillEditorContainer">
			{{value}}
		</div>
	</template>
</dom-module>

<script type="text/javascript" src="now-quill-editor.js"></script>
