<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="cep-admin-item">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				padding: 5px;
			}
			.editableContainer ::content input {
				width: 100%;
				margin-bottom: 5px;
				border: 1px solid #333;
				height: 25px;
				margin-right: 5px;
			}
			.editableContainer ::content iron-autogrow-textarea {
				width: 100%;
				margin-bottom: 5px;
			}
			.hidden {
				display: none;
			}
			.adminItem {
				background-color: var(--admin-item-background-color);
			}
			iron-collapse content {
				background-color: var(--admin-item-collapse-background-color);
			}
			iron-collapse > .content {
				padding: 15px 0 15px 48px;
			}
			.editableContainer{
				position: absolute;
				width: 63%;
				margin-top: 5px;
				border: 1px solid #333;
				background-color: white;
				padding: 15px;
			}
			.editableButtons {
				background-color: white;
				margin-right: -5px;
				z-index: 11;
			}
			.saveCancelButton {
				border-width: 1px 1px 1px 1px;
				border-style: solid;
				border-color: var(--save-cancel-buttons-border-color);
				padding: 2px;
			}
			.saveButton {
				color: var(--save-button-color);
			}
			.cancelButton {
				color: var(--cancel-button-color);
				/*border-left: 0;*/
			}
			.editableButtonSpacer {
				/*border-top: 1px solid #afafaf;*/
			}
			.addIcon {
				color: var(--add-button-color);
			}
			.removeIcon {
				color: var(--remove-button-color);
			}
			.draggableHandle {
				margin-right: 5px;
			}
			.draggableHandle:hover {
				cursor: pointer;
			}
			.toggleCollapse:hover {
				cursor: pointer;
			}
		</style>
		<div class="layout horizontal adminItemContainer">
			<div class="adminItem layout horizontal flex">
				<template is="dom-if" if="{{collapse}}">
					<paper-icon-button
						item="{{item}}"
						icon="{{toggleCollapseIcon}}"
						id="toggleCollapse"
						on-tap="_toggleCollapse"
						class="toggleCollapse self-center">
					</paper-icon-button>
				</template>
				<template is="dom-if" if="{{draggable}}">
					<iron-icon id="draggableHandle" icon="menu" class="draggableHandle self-center"></iron-icon>
				</template>
				<!-- Editable Content - Shown when elements is in Edit mode -->
				<template is="dom-if" if="{{!readonly}}">
					<div class="layout vertical flex">
						<div class="editableContainer">
							<content select=".editableContent"></content>
							<div class="layout horizontal end-justified fieldButtonContainer">
								<span class="flex editableButtonSpacer"></span>
								<div class="editableButtons">
									<paper-icon-button icon="check" class="saveCancelButton saveButton" on-tap="_onSave"></paper-icon-button>
									<paper-icon-button icon="close" class="saveCancelButton cancelButton" on-tap="_onCancel"></paper-icon-button>
								</div>
							</div>
						</div>
					</div>
				</template>
				<!-- Read Only Content - Shown when element is in Read mode -->
				<template is="dom-if" if="{{readonly}}">
					<span id="readOnlyField" class="readOnlyField flex self-center" on-tap="_onEdit">
						<content select=".readonlyContent"></content>
					</span>
				</template>
				<template is="dom-if" if="{{canAddRemove}}">
					<paper-icon-button
						id="removeIcon"
						icon="remove-circle-outline"
						on-tap="_onRemove"
						class="removeIcon self-center">
					</paper-icon-button>
					<paper-icon-button
						id="addIcon"
						icon="add-circle-outline"
						on-tap="_onAdd"
						class="addIcon self-center">
					</paper-icon-button>
				</template>
			</div>
		</div>
		<iron-collapse id="collapse">
			<div class="content layout vertical">
				<content select=".collapseContent"></content>
			</div>
		</iron-collapse>
	</template>
</dom-module>

<script type="text/javascript" src="cep-admin-item.js"></script>
