<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../cep-planning-action/cep-planning-action.html">
<!--

@element cep-planning-objective
@demo demo/index.html
-->
<dom-module id="cep-planning-objective">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
			}
			.objective {
				margin-bottom: 20px;
			}
			.objectiveCard {
				margin-bottom: 20px;
				border: 1px solid #dfdfdf;
				width: 100%;
			}
			.card-content {
				padding: 0 !important;
			}
			.objectiveTitle {
				font-size: 16px;
				background-color: var(--text-background-highlight);
				padding: 5px;
			}
			.objectiveNote {
				color: var(--error-color);
			}
			paper-textarea {
				width: 100%;
			}
			div.objectivename {
				padding: 0 15px;
				margin-bottom: 20px;
				margin-top: -10px;
			}
		</style>
		<paper-card elevation="0" class="objectiveCard flex">
			<div class="card-content">
				<div class="objective layout horizontal">
					<div class="objectiveTitle self-center flex">
						<span>
							{{getObjLabelTitle(goal, objective, objective.emscid)}}:
						</span>
						<span>
							{{_findEmscSubcatTitle(objective, essentialMinistry, objective.emscid)}}
						</span>
						<span class="objectiveNote">
							(Please complete at least 1 of the following 3 actions)
						</span>
					</div>
				</div>
				<template is="dom-repeat" items="{{objective.actions}}" as="action" index-as="actionIdx">
					<cep-planning-action
						goal="{{goal}}"
						objective="{{objective}}"
						essential-ministry="{{essentialMinistry}}"
						action="{{action}}"
						locked="{{locked}}"
						evaluation="{{evaluation}}">
					</cep-planning-action>
				</template>
				<div class="objectivename layout horizontal">
					<paper-textarea
						label="Add notes for this objective here..."
						name="objectivename_{{actionIdx}}_{{objective.objid}}"
						maxlength="100"
						value="{{objective.objectivename}}"
						bind-value="{{objective.objectivename}}"
						idx="{{actionIdx}}"
						objidx="{{objIdx}}"
						objid="{{objective.objid}}"
						disabled="{{locked}}"
						on-change="_onObjectiveChange">
					</paper-textarea>
				</div>
			</div>
		</paper-card>
	</template>
</dom-module>

<script type="text/javascript" src="cep-planning-objective.js"></script>
