<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">

<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<link rel="import" href="../cep-admin-setup/cep-admin-setup.html">
<link rel="import" href="../cep-admin-manage/cep-admin-manage.html">
<link rel="import" href="../cep-admin-car/cep-admin-car.html">

<dom-module id="cep-admin-page">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				padding: 15px;

				/* paper-tabs */
				--paper-tabs-selection-bar-color: var(--accent-color);
				--paper-tabs-selection-bar: {
					height: 3px;
					z-index: 2;
				};
				--paper-tab-ink: var(--light-primary-color);
				--paper-tab: {};
				--paper-tab-content: {
					border-style: solid;
					border-width: 1px;
					border-color: var(--secondary-text-color);
					color: var(--primary-color);
					font-size: 17px;
					background-color: white;
					height: 97%;
					margin-bottom: -6px;
					font-weight: 400;
				};
				--paper-tab-content-unselected: {
					color: var(--primary-text-color);
					background-color: var(--divider-color);
					border-bottom: 0;
					height: 80%;
				}
			}
			.adminTopTabs {
				margin-top: 20px;
			}
			.userName {
				font-size: 16px;
			}
			.signOutButton {
				padding-left: 0;
				padding-top: 0;
				margin-left: 0;
				color: var(--default-primary-color);
				font-size: 12px;
			}
			.signOutText {
				margin-right: 5px;
			}
			.signOutButton iron-icon {
				height: 18px;
				width: 18px;
			}
			.spanLink {
				font-size: 11px;
				color: var(--accent-color);
				margin: 0 10px 0 10px;
			}
			.spanLink:hover {
				cursor: pointer;
			}
			paper-button[dialog-confirm] {
				background-color: var(--success-color);
				color: white;
			}
			paper-button[dialog-dismiss] {
				background-color: var(--error-color);
				color: white;
			}
		</style>

		<app-route
			route="{{topTabRoute}}"
			pattern="/setup"
			tail="{{bottomSetupTabRoute}}"
			active="{{topSetupRouteActive}}">
		</app-route>

		<app-route
			route="{{topTabRoute}}"
			pattern="/manage"
			tail="{{bottomManageTabRoute}}"
			active="{{topManageRouteActive}}">
		</app-route>

		<app-route
			route="{{topTabRoute}}"
			pattern="/car"
			tail="{{bottomCarTabRoute}}"
			active="{{topCarRouteActive}}">
		</app-route>

		<!-- Review years Ajax -->
		<iron-ajax
			id="reviewYearsAjax"
			url="{{settings.BASE_REST_URL}}/sql"
			handle-as="json"
			on-response="_onReviewYearsResponse"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<iron-ajax
			id="createNewEvalAjax"
			url="{{settings.BASE_REST_URL}}/sql"
			handle-as="json"
			loading="{{mainLoading}}"
			on-response="_onNewEvalResponse"
			verbose>
		</iron-ajax>

		<div class="layout vertical">
			<div class="layout horizontal">
				<div class="userContainer layout vertical">
					<span class="userName">{{user.commonName}}</span>
					<span>
						<paper-button
							id="logoutButton"
							class="signOutButton"
							on-tap="_signOut">
							<span class="signOutText">Sign Out</span>
							<iron-icon icon="exit-to-app"></iron-icon>
						</paper-button>
				</div>
				<span class="flex"></span>
				<div class="layout vertical">
					<vaadin-combo-box
						id="reviewYearCombo"
						label="Review Version"
						value="{{selectedYear}}"
						items="{{reviewYears}}"
						item-label-path="year"
						item-value-path="year"
						placeholder="Select a Review Year"
						disabled="{{mainLoading}}"
						always-float-label>
					</vaadin-combo-box>
					<span
						id="newFromCurrent"
						class="spanLink"
						on-tap="_onNewFromCurrent"
						hidden$="[[!isAdmin(user)]]">
						Create New From Current Version
					</span>
				</div>
			</div>
			<paper-tabs
				id="adminTopPageTabs"
				class="adminTopTabs"
				selected="{{topTab}}"
				attr-for-selected="topadminpage">
				<paper-tab
					topadminpage="setup">
					Evaluation Setup
				</paper-tab>
				<paper-tab
					topadminpage="manage">
					Manage Evaluations
				</paper-tab>
				<paper-tab
					topadminpage="car">
					Command Annual Review (C.A.R)
				</paper-tab>
			</paper-tabs>
			<neon-animated-pages
				id="adminPages"
				attr-for-selected="topadminpage"
				selected="{{topTab}}"
				entry-animation="scale-up-animation"
				exit-animation="fade-out-animation">
				<neon-animatable topadminpage="setup">
					<cep-admin-setup
						bottom-tab-route="{{bottomSetupTabRoute}}"
						user="{{user}}"
						main-loading="{{mainLoading}}"
						review-year="{{selectedYear}}"
						settings="{{settings}}">
					</cep-admin-setup>
				</neon-animatable>
				<neon-animatable topadminpage="manage">
					<cep-admin-manage
						bottom-tab-route="{{bottomManageTabRoute}}"
						user="{{user}}"
						main-loading="{{mainLoading}}"
						review-year="{{selectedYear}}"
						settings="{{settings}}">
					</cep-admin-manage>
				</neon-animatable>
				<neon-animatable topadminpage="car">
					<!--<template is="dom-if" if="{{_isCurrentPage('car', topTabRoute.path)}}">-->
						<cep-admin-car
							bottom-tab-route="{{bottomCarTabRoute}}"
							user="{{user}}"
							main-loading="{{mainLoading}}"
							review-year="{{selectedYear}}"
							settings="{{settings}}">
						</cep-admin-car>
					<!--</template>-->
				</neon-animatable>
			</neon-animated-pages>
		</div>
		<paper-dialog
			id="newVersionDialog"
			on-iron-overlay-opened="patchOverlay"
			modal>
			<h2>New Evaluation</h2>
			<paper-input
				id="newYearInput"
				label="New Evaluation Year"
				name="newEvalYear"
				value="{{newEvalYear}}"
				allowed-pattern="[0-9]"
				pattern="^(20)\d{2}$"
				error-message="Please enter a valid year"
				prevent-invalid-input
				auto-validate
				autofocus>
			</paper-input>
			<div class="buttons">
				<paper-button raised dialog-dismiss>Cancel</paper-button>
				<paper-button on-tap="_onAcceptNewYear" raised dialog-confirm>OK</paper-button>
			</div>
		</paper-dialog>
		<paper-dialog
			id="notAuthDialog"
			on-iron-overlay-opened="patchOverlay"
			modal>
			<h2>Not Authorized</h2>
			<p>You do not have the proper authorization to access this portion of CEP. Please contact your administrator if you feel you need access.</p>
			<div class="buttons">
				<paper-button on-tap="_onNotAuthConfirm" raised dialog-confirm>OK</paper-button>
			</div>
		</paper-dialog>
	</template>
</dom-module>

<script type="text/javascript" src="cep-admin-page.js"></script>
