<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<dom-module id="cep-intro-links">
	<template>
		<style>
			:host {
				display: block;
				box-sizing: border-box;
				padding: 15px;
				background: white;
			}
		</style>
		<iron-ajax
			id="introAjax"
			url="{{settings.BASE_REST_URL}}/cep",
			last-response="{{intro}}"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<marked-element
			id="richTextDisplayField"
			markdown="{{intro.intro}}">
			<div class="markdown-html"></div>
		</marked-element>
	</template>
</dom-module>

<script type="text/javascript" src="cep-intro-links.js"></script>
