<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">

<dom-module id="cep-confirm-dialog">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				max-width: 450px;

				--paper-dialog: {
					max-width: 450px;
				};
			}
			.cancelButton {
				background: var(--cancel-button-background, var(--error-color));
				color: var(--cancel-button-color, white);
			}
			.confirmButton {
				background: var(--confirm-button-background, var(--success-color));
				color: var(--confirm-button-color, white);
			}
			.dialogText {
				padding: 15px;
				margin-top: 0;
			}
		</style>
		<paper-dialog
			id="dialog"
			entry-animation="scale-up-animation"
			exit-animation="fade-out-animation"
			on-iron-overlay-opened="patchOverlay"
			modal>
			<h2>{{dialogTitle}}</h2>
			<div class="dialogText">
				{{dialogText}}
			</div>
			<template is="dom-if" if="{{!noButtons}}">
				<div class="buttons">
					<paper-button
						class="cancelButton"
						dialog-dismiss>
						{{cancelButtonText}}
					</paper-button>
					<paper-button
						class="confirmButton"
						dialog-confirm
						autofocus>
						{{confirmButtonText}}
					</paper-button>
				</div>
			</template>
		</paper-dialog>
	</template>
</dom-module>

<script type="text/javascript" src="cep-confirm-dialog.js"></script>
