<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">

<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">

<link rel="import" href="../cep-admin-view/cep-admin-view.html">
<link rel="import" href="../cep-admin-init/cep-admin-init.html">

<dom-module id="cep-admin-manage">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;

				--paper-tab-content: {
					color: var(--primary-color);
					font-size: 17px;
					background-color: white;
					height: 97%;
					margin-bottom: -6px;
					font-weight: 400;
				};
				--paper-tab-content-unselected: {
					color: var(--primary-text-color);
					border-bottom: 0;
				}
			}
			.manageTabs {
				margin-top: 20px;
			}
		</style>

		<app-route
			route="{{bottomTabRoute}}"
			pattern="/:bottomTab"
			data="{{bottomTabData}}"
			active="{{bottomTabRouteActive">
		</app-route>

		<paper-tabs
			id="manageTabs"
			class="manageTabs"
			selected="{{bottomTabData.bottomTab}}"
			attr-for-selected="bottommanagepage">
			<paper-tab bottommanagepage="initiate">
				Initiate Evaluations
			</paper-tab>
			<paper-tab  bottommanagepage="view">
				View Evals & Status
			</paper-tab>
			<paper-tab bottommanagepage="corpsrolls" hidden>
				Corps Rolls
			</paper-tab>
		</paper-tabs>
		<neon-animated-pages
			id="bottomAdminPages"
			selected="{{bottomTabData.bottomTab}}"
			attr-for-selected="bottommanagepage">
			<neon-animatable bottommanagepage="initiate">
				<cep-admin-init
					bottom-tab="{{bottomTabData.bottomTab}}"
					selected-year="{{reviewYear}}"
					user="{{user}}"
					settings="{{settings}}">
				</cep-admin-init>
			</neon-animatable>
			<neon-animatable bottommanagepage="view">
				<cep-admin-view
					bottom-tab="{{bottomTabData.bottomTab}}"
					review-year="{{reviewYear}}"
					user="{{user}}"
					settings="{{settings}}">
				</cep-admin-view>
			</neon-animatable>
			<neon-animatable bottommanagepage="corpsrolls">
				Corps Rolls
			</neon-animatable>
		</neon-animated-pages>
	</template>
</dom-module>

<script type="text/javascript" src="cep-admin-manage.js"></script>
