<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">
<!--

@element now-feedback
-->
<dom-module id="now-feedback">
	<template>
		<style>
			:host {
				display: block;
				padding: 10px;
			}
			.card {
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
				padding: 16px;
				margin: 24px;
				border-radius: 5px;
				background-color: #fff;
				color: #757575;
			}
			.circle {
				display: inline-block;
				height: 64px;
				width: 64px;
				border-radius: 50%;
				background: #ddd;
				line-height: 64px;
				font-size: 30px;
				color: #555;
				text-align: center;
			}
			h1 {
				font-size: 22px;
				margin: 16px 0;
				color: #212121;
			}
		</style>
		<div class="card">
			<div class="circle">4</div>
			<h1>Feedback</h1>
			<p>Modus commodo minimum eum te, vero utinam assueverit per eu.</p>
			<p>Ea duis bonorum nec, falli paulo aliquid ei eum.Has at minim mucius aliquam, est id tempor laoreet.Pro saepe pertinax ei, ad pri animal labores suscipiantur.</p>
		</div>
	</template>
</dom-module>

<script type="text/javascript" src="now-feedback.js"></script>
