<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">

<link rel="import" href="../cep-confirm-dialog/cep-confirm-dialog.html">

<dom-module id="cep-admin-init">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				padding: 15px;
				height: 400px;

				--paper-button: {
					background-color: var(--success-color);
					color: white;
					margin-top: 20px;
					min-height: 35px;
				};
			}
			.hidden {
				display: none;
			}
			.listTitle {
				@apply(--list-title-mixin);
			}
			.selectionListTitle {
				color: var(--default-primary-color);
				@apply(--selection-list-title-mixin);
			}
			.selectedListTitle {
				color: var(--success-color);
				@apply(--selected-list-title-mixin);
			}
			.pickerContainer {
				width: 100%;
				height: 100%;
			}
			.pickerWrapper {
				height: inherit;
			}
			.corpList {
				margin-right: 5px;
			}
			.corpList paper-menu paper-item, .selectedList paper-menu paper-item {
				font-size: 12px;
				min-height: 20px;
			}
			.corpList paper-menu paper-item:hover {
				cursor: pointer;
				background-color: #efefef;
			}
			.selectedList, .corpList {
				border: 1px solid #afafaf;
				overflow: auto;
			}
			.pickerContainer {
				height: 100%;
			}
			.clearSelections {
				--paper-icon-button: {
					height: 30px;
					width: 30px;
				};
			}
		</style>
		<iron-ajax
			id="nameAjax"
			url="{{settings.BASE_REST_URL}}/sql"
			handle-as="json"
			on-response="_onAjaxResponse"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<iron-ajax
			id="initiateReviewsAjax"
			url="{{settings.BASE_REST_URL}}/cep"
			method="POST"
			content-type="application/json"
			handle-as="json"
			on-response="_onCorpsInitialized"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<div class="layout vertical pickerContainer">
			<div class="layout horizontal pickerWrapper">
				<div class="layout vertical flex">
					<div class="layout horizontal titleContainer">
						<span class="listTitle selectionListTitle flex self-center">
							Eligible for Evaluation
						</span>
						<paper-icon-button
							icon="tab-unselected"
							on-tap="clearSelections"
							class="self-center clearSelections"
							title="Clear all Selections">
						</paper-icon-button>
					</div>
					<div class="layout vertical flex corpList">
						<paper-menu
							id="corpMenu"
							multi>
							<template is="dom-repeat" items="{{corpResponse}}" as="corp">
								<paper-item value="{{corp.unit_name}}" title="{{corp.unit_name}}">
									<span class="corpName">{{corp.unit_name}}</span>
								</paper-item>
							</template>
						</paper-menu>
					</div>
				</div>
				<div class="layout vertical center-justified addRemoveButtonList">
					<paper-icon-button
						id="addSelected"
						icon="arrow-forward"
						on-tap="_addSelected"
						title="Add To Selections">
					</paper-icon-button>
					<paper-icon-button
						id="removeSelected"
						icon="arrow-back"
						on-tap="_removeSelected"
						title="Remove From Selections">
					</paper-icon-button>
				</div>
				<div class="layout vertical flex">
					<div class="layout horizontal">
						<span class="listTitle selectedListTitle flex self-center">
							Selected Recipients for Evaluation
						</span>
						<span class="self-center spacer" style="height: 30px;"></span>
					</div>
					<div class="layout vertical flex selectedList">
						<paper-menu id="selectedMenu" multi>
							<template is="dom-repeat" items="{{selectedCorps}}" as="selectedCorp">
								<paper-item
									value="{{selectedCorp.unit_name}}"
									label="{{selectedCorp.unit_name}}">
									<span class="corpName">{{selectedCorp.unit_name}}</span>
								</paper-item>
							</template>
						</paper-menu>
					</div>
				</div>
			</div>
			<div class="layout horizontal buttonContainer">
				<span class="flex"></span>
				<paper-button
					id="initiateButton"
					on-tap="_initiateSelectedReviews"
					class="end-justified"
					raised>
					Initiate Evaluations
					<iron-icon icon="arrow-forward"></iron-icon>
				</paper-button>
			</div>
		</div>
		<paper-dialog
			id="corpsReviewsInitializedDialog"
			on-iron-overlay-opened="patchOverlay"
			modal>
			<h2>Corps Review(s) Initialized</h2>
			<div class="initalizedMessage">
				{{initializeSuccessMessage}}
			</div>
			<div class="buttons">
				<paper-button raised dialog-confirm>
					OK
				</paper-button>
			</div>
		</paper-dialog>
		<cep-confirm-dialog
			id="confirmInit">
		</cep-confirm-dialog>
	</template>
</dom-module>

<script type="text/javascript" src="cep-admin-init.js"></script>
