<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">

<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">

<link rel="import" href="../../bower_components/paper-multi-select/paper-multi-select.html">

<link rel="import" href="../cep-admin-view/cep-admin-view.html">
<link rel="import" href="../cep-admin-init/cep-admin-init.html">
<link rel="import" href="../../bower_components/now-popover/now-popover.html">
<link rel="import" href="../now-number-util-behavior/now-number-util-behavior.html">

<dom-module id="cep-admin-car">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;

				--paper-tab-content: {
					color: var(--primary-color);
					font-size: 17px;
					background-color: white;
					height: 97%;
					margin-bottom: -6px;
					font-weight: 400;
				};
				--paper-tab-content-unselected: {
					color: var(--primary-text-color);
					border-bottom: 0;
				}
			}
			.manageTabs {
				margin-top: 20px;
			}
			section {
				padding: 0 15px;
			}
			/* Chart Containers */
			section > div {
				width: 50%;
			}
			/* First Chart Container */
			section > div:first-child {
				padding-right: 20px;
			}
			/* Objective Containers */
			section > div > div {
				float: left;
				width: 50%;
			}
			/* Objective Headers */
			section > div > div h4 {
				text-align: center;
			}
			vaadin-combo-box {
				display: inline-block;
				margin-right: 1rem;
			}
			#dataFilter > span {
				font-weight: 600;
				display: inline-block;
				margin-right: 1rem;
				margin-top: 25px;
				font-size: 15px;
				padding: 0 15px;
			}
			google-chart {
				height: auto;
				width: 100%;
			}
			google-chart[type="pie"] {
				margin-top: 40px;
			}
			google-chart #chartdiv div["ltr"],
			google-chart #chartdiv svg {
				width: 100%;
			}
			@media (max-width: 768px) {
				section,
				section > div,
				section > div > div {
					float: none;
					width: auto;
					display: block !important;
				}
				section[hidden] {
					display: none !important;
				}
				section > div:first-child {
					padding-right: 0;
				}
			}
			.noData {
				font-size: 18px;
				color: var(--dark-primary-color);
				text-align: center;
				margin-top: 30px;
				opacity: 0.7;
			}
			.emChartContainer {
				border-top: 1px solid #afafaf;
				margin-top: 10px;
			}
			.emChartContainer paper-icon-button, .dataFilterContainer paper-icon-button {
				color: var(--icon-accent-color);
			}
			.ps {
				font-style: italic;
			}
			.readMoreLink {
				color: var(--icon-accent-color);
			}
			.scoringHelpPopover {
				--now-popover: {
					background-color: transparent;
					width: 400px;
				};
				--now-popover-material: {
					background-color: white;
					max-width: 100%;
					padding: 15px;
					line-height: initial;
				};
			}
			.helpDataFilterContainer {
				padding-left: 10px;
			}
			.helpDataFilterContainer p {
				margin: 5px 0;
			}
			.helpDataFilterContainer p:first-child {
				margin-top: 25px;
			}
			#compareByYear {
				margin-right: 15px;
				min-width: 150px;
			}
			.noMultiYearNotification {
				font-size: x-small;
				text-align: center;
				color: var(--warn-color);
				margin: -7px 15px 0 0;
			}
			h5.carChartRowYear {
				margin-bottom: 10px;
			}
		</style>
		<!-- The review years ajax -->

		<iron-ajax
			id="yearAjax"
			url="{{settings.BASE_REST_URL}}/sql"
			params='{"method":"getYearList"}'
			loading="{{mainLoading}}"
			on-response="_yearsResponse"
			verbose>
		</iron-ajax>

		<!-- The division list ajax -->
		<iron-ajax
			id="divisionsAjax"
			url="{{settings.BASE_REST_URL}}/sql"
			params='{"method":"getDivisionList"}'
			last-response="{{divisionsResponse}}"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<!-- The essential ministry ajax -->
		<iron-ajax
			id="essentialMinistryAjax"
			url="{{settings.BASE_REST_URL}}/sql"
			handle-as="json"
			loading="{{mainLoading}}"
			last-response="{{essentialMinistries}}"
			verbose>
		</iron-ajax>
		<!-- The goal data ajax -->
		<iron-ajax
			id="carGoalAjax"
			url="{{settings.DF_CAR_BASE_URL}}/Cep_AnnualReview_Plan_Goals_By"
			handle-as="json"
			loading="{{mainLoading}}"
			last-response="{{goalResponse}}"
			verbose>
		</iron-ajax>
		<!-- The Objective Data ajax -->
		<iron-ajax
			id="carObjAjax"
			url="{{settings.DF_CAR_BASE_URL}}/Cep_AnnualReview_Plan_Objectives_By"
			handle-as="json"
			loading="{{mainLoading}}"
			last-response="{{objResponse}}"
			verbose>
		</iron-ajax>
		<!-- The EM Charts Data ajax -->
		<iron-ajax
			id="emChartDataAjax"
			url="{{settings.DF_CAR_BASE_URL}}/New_Cep_ScoreEmId_By_DivId_Year"
			handle-as="json"
			loading="{{mainLoading}}"
			last-response="{{emChartResponse}}"
			verbose>
		</iron-ajax>
		<!-- The EMSC Charts Data ajax -->
		<iron-ajax
			id="emscChartDataAjax"
			url="{{settings.DF_CAR_BASE_URL}}/New_Cep_ScoreEmscId_By_DivId_Year"
			handle-as="json"
			loading="{{mainLoading}}"
			last-response="{{emscChartResponse}}"
			verbose>
		</iron-ajax>

		<div class="layout vertical helpDataFilterContainer">
			<p>Choosing an Essential Ministry will display the number of corps who chose that Essential Ministry as either their first or second choice and how many corps total performing a CEP.</p>
			<p>The pie charts in turn indicate what percentage then chose each of the sub-categories associated with that Essential Ministry as part of their objectives.</p>
			<div id="dataFilter" class="dataFilterContainer layout horizontal">
				<span>Display Data for</span>
				<div class="layout vertical">
					<vaadin-combo-box
						id="filterByMinistry"
						class="ministryFilter"
						items="{{essentialMinistries}}"
						placeholder="Select a Ministry"
						item-label-path="name"
						item-value-path="emid"
						on-selected-item-changed="_onMinistryFiltered"
						value="{{selectedEm}}">
					</vaadin-combo-box>
					<span
						class="noMultiYearNotification"
						hidden$="{{hideMultiYearNotification}}">
						Multiple Years not shown in Goal Charts!
					</span>
				</div>
				<!-- TODO Implement the scoring at a later date -->
				<!-- <span>Overall Score: 2.67</span> -->


				<template is="dom-if" if="{{_isAdmin(user)}}">
					<paper-multi-select
						id="compareByYear"
						chips="{{yearsResponse}}"
						placeholder="Compare by Year"
						selected-items="{{selectedYears}}">
					</paper-multi-select>
					<vaadin-combo-box
						id="filterByDivision"
						items="{{divisionsResponse}}"
						placeholder="Select a Division"
						value="{{divId}}"
						item-label-path="div_name"
						item-value-path="div_id">
					</vaadin-combo-box>
				</template>
			</div>
		</div>
		<!-- Display if there is no data yet -->
		<div class="noData" hidden$="{{!hideCharts}}">
			<template is="dom-if" if="{{!selectedEm}}">
				<span>Did you select an Essential Ministry?</span>
			</template>
			<template is="dom-if" if="{{selectedEm}}">
				<span>No Goal Data for {{yearsSelection}}'s {{getEmTitle(selectedEm)}} Yet</span>
			</template>
		</div>
		<div class="charts" hidden$="{{hideCharts}}">
			<section class="layout horizontal">
				<div>
					<h4>{{goalResponse.0.Total_1stGoal}} chose {{goalResponse.0.Title_Ministries}} as first goal</h4>
					<google-chart
						id="firstGoal"
						type="bar"
						options="{{goal1Options}}"
						data="{{goal1Data}}">
					</google-chart>
					<div hidden$="{{hideObjectives}}">
						<h4>Selected as Objective 1.1</h4>
						<google-chart
							type="pie"
							options="{{objectiveOptions}}"
							data="{{obj11Data}}">
						</google-chart>
					</div>
					<div hidden$="{{hideObjectives}}">
						<h4>Selected as Objective 1.2</h4>
						<google-chart
							type="pie"
							options="{{objectiveOptions}}"
							data="{{obj12Data}}">
						</google-chart>
					</div>
				</div>

				<div>
					<h4>{{goalResponse.0.Total_2ndGoal}} chose {{goalResponse.0.Title_Ministries}} as second goal</h4>
					<google-chart
						type="bar"
						options="{{goal2Options}}"
						data="{{goal2Data}}">
					</google-chart>
					<div hidden$="{{hideObjectives}}">
						<h4>Selected as Objective 2.1</h4>
						<google-chart
							type="pie"
							options="{{objectiveOptions}}"
							data="{{obj21Data}}">
						</google-chart>
					</div>
					<div hidden$="{{hideObjectives}}">
						<h4>Selected as Objective 2.2</h4>
						<google-chart
							type="pie"
							options="{{objectiveOptions}}"
							data="{{obj22Data}}">
						</google-chart>
					</div>
				</div>

			</section>
		</div>

		<div class="emContainer">
			<template is="dom-repeat" items="{{carEssentialMinistries}}" as="em" index-as="idx">
				<div class="layout vertical emChartContainer">
					<div class="layout horizontal">
						<h4 class="flex">[[em.name]]</h4>
						<template is="dom-if" if="{{!idx}}">
							<paper-icon-button id="scoringHelp" icon="help"></paper-icon-button>
							<now-popover
								for="scoringHelp"
								position="left"
								class="scoringHelpPopover"
								use-click>
								<p>Automated scoring is based on the percent change between current and prior years or percent difference, for meetings, compared to a standard.  For more detailed information about scoring the line codes used please follow the link provided.</p>
								<p><a href="{{settings.BASE_URL}}/cepscoring.pdf" class="readMoreLink" target="_blank">Read More...</a></p>
							</now-popover>
						</template>
					</div>
					<template is="dom-repeat" items="{{em.years}}" as="emYear">
						<template is="dom-if" if="{{showChartRowYear}}">
							<h5 class="carChartRowYear">{{emYear.year}}</h5>
						</template>
						<div class="layout horizontal carChartRow">
							<div>
								<google-chart
									type="column"
									options="{{emChartOptions}}"
									data="{{getEmChartData(emYear)}}">
								</google-chart>
							</div>
							<div>
								<google-chart
									type="column"
									options="{{emscChartOptions}}"
									data="{{getEmscChartData(emYear)}}">
								</google-chart>
							</div>
						</div>
					</template>
				</div>
			</template>
		</div>
		<div class="noData" hidden$="{{isNoObjData(objResponse)}}">
			No Objective Data
		</div>
	</template>
</dom-module>

<script type="text/javascript" src="cep-admin-car.js"></script>
