<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<link rel="import" href="../cep-planning-goal/cep-planning-goal.html">
<link rel="import" href="../cep-confirm-dialog/cep-confirm-dialog.html">
<link rel="import" href="../now-validation-behavior/now-validation-behavior.html">

<link rel="import" href="../file-saver.html">

<dom-module id="cep-planning">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				background: white;
				padding: 15px;
			}
			.hidden {
				display: none !important;
			}
			.planningHeader {
				background-color: var(--corp-planning-header-background-color, #cc0000);
				color: var(--corp-planning-header-color, #ffffff);
				margin-bottom: 10px;
				height: 26px;
				padding: 6px;
				line-height: 25px;
			}
			.setCorpGoalsButton {
				margin: 20px;
			}
			.ministrySelectors {
				padding: 5px;
			}
			.ministrySelectors vaadin-combo-box {
				margin: 0 10px 10px 0;
			}
			.goalSelector {
				max-width: 33%;
			}
			.planningContinueButton {
				background-color: var(--essential-ministry-save-button-background, #297729);
				color: var(--essential-ministry-save-button-color, white);
			}
			.planningContinueButton:hover {
				cursor: pointer;
			}
			.planningContinueButton[disabled] {
				background-color: var(--essential-ministry-save-disabled-button-background, #bfbfbf);
				color: var(--essential-ministry-save-disabled-button-color, #333);
			}
			.planningContinueButton[disabled]:hover {
				cursor: default;
			}
			.textContainer {
				overflow: hidden;
			}
			/*marked-element {
				float: left;
				max-width: 70%;
			}*/
			paper-textarea {
				margin-top: 10px;
				margin-bottom: 15px;
				margin-right: 10px;
				margin-left: 5px;
			}
		</style>
		<iron-ajax
			id="planningIntroAjax"
			url="{{settings.BASE_REST_URL}}/cep",
			last-response="{{planningIntro}}"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<div class="textContainer">
			<marked-element
				id="planningText"
				markdown="{{planningIntro.intro}}">
				<div class="markdown-html"></div>
			</marked-element>
		</div>
		<div class="layout vertical">
			<div class="planningHeader layout horizontal center">
				Areas of Concentration
			</div>
			<div class="layout vertical">
				<template is="dom-repeat" items="{{goals}}" as="goal" index-as="gIdx">
					<div class="ministrySelectors layout horizontal">
						<vaadin-combo-box
							class="flex goalSelector"
							label="{{getGoalComboLabel(gIdx)}}"
							value="{{goal.emid}}"
							items="{{getEmComboItems(gIdx)}}"
							item-label-path="name"
							item-value-path="id"
							placeholder="Select a Goal"
							disabled="{{locked}}"
							always-float-label>
						</vaadin-combo-box>
						<template is="dom-if" if="{{goal.emid}}">
							<template
								is="dom-repeat"
								items="{{goal.objectives}}"
								as="obj"
								index-as="oIdx">
								<vaadin-combo-box
									class="flex objectiveSelector"
									label="{{getObjComboLabel(gIdx, oIdx)}}"
									value="{{obj.emscid}}"
									items="{{getObjComboItems(gIdx, oIdx, obj11Items, obj12Items, obj21Items, obj22Items)}}"
									item-label-path="subcategory"
									item-value-path="id"
									placeholder="Select an Objective"
									disabled="{{_isObjComboLocked(goal.emid)}}"
									always-float-label>
								</vaadin-combo-box>
							</template>
						</template>
					</div>
					<paper-textarea
						label="Add notes for this goal here..."
						name="goalname"
						value="{{goal.goalname}}"
						on-change="_onGoalNameChanged"
						disabled="{{_isObjComboLocked(goal.emid)}}"
						hidden$="{{!goal.emid}}">
					</paper-textarea>
				</template>
			</div>
			<div class="layout vertical goalsContainer">
				<template is="dom-repeat" items="{{goals}}" as="goal">
					<cep-planning-goal
						class="corpPlanningGoal"
						evaluation="{{evaluation}}"
						goal="{{goal}}"
						locked="{{locked}}"
						essential-ministry="{{getEmObject(goal.emid)}}"
						hidden$="{{!goal.emid}}">
					</cep-planning-goal>
				</template>
			</div>
			<div class="layout horizontal center-justified">
				<span class="">
					<paper-button
						id="continueToReview"
						class="planningContinueButton"
						on-tap="continueToReview"
						raised>
						Save & Continue
					</paper-button>
				</span>
			</div>
		</div>
	</template>
</dom-module>

<script type="text/javascript" src="cep-planning.js"></script>
