<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">

<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">

<link rel="import" href="../cep-admin-em/cep-admin-em.html">
<link rel="import" href="../cep-admin-iq/cep-admin-iq.html">
<link rel="import" href="../cep-admin-intro/cep-admin-intro.html">
<link rel="import" href="../cep-admin-planning-text/cep-admin-planning-text.html">

<dom-module id="cep-admin-setup">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;

				--paper-tab-content: {
					color: var(--primary-color);
					font-size: 17px;
					background-color: white;
					height: 97%;
					margin-bottom: -6px;
					font-weight: 400;
				};
				--paper-tab-content-unselected: {
					color: var(--primary-text-color);
					border-bottom: 0;
				}
			}
			.setupTabs {
				margin-top: 20px;
			}
		</style>

		<app-route
			route="{{bottomTabRoute}}"
			pattern="/:bottomTab"
			data="{{bottomTabData}}"
			active="{{bottomTabRouteActive}}">
		</app-route>

		<iron-ajax
			id="emAjax"
			url="{{settings.BASE_REST_URL}}/sql"
			handle-as="json"
			loading="{{emLoading}}"
			last-response="{{essentialMinistries}}"
			verbose>
		</iron-ajax>

		<iron-ajax
			id="introAjax"
			url="{{settings.BASE_REST_URL}}/cep"
			handle-as="json"
			loading="{{mainLoading}}"
			last-response="{{introAndLinks}}"
			verbose>
		</iron-ajax>

		<iron-ajax
			id="planningIntroAjax"
			url="{{settings.BASE_REST_URL}}/cep"
			handle-as="json"
			loading="{{mainLoading}}"
			last-response="{{planningIntro}}"
			verbose>
		</iron-ajax>

		<paper-tabs
			id="manageTabs"
			class="setupTabs"
			selected="{{bottomTabData.bottomTab}}"
			attr-for-selected="bottomsetuppage">
			<paper-tab bottomsetuppage="essentialministries">
				Essential Ministries
			</paper-tab>
			<paper-tab  bottomsetuppage="impactquestions">
				Impact Questions
			</paper-tab>
			<paper-tab bottomsetuppage="introductionandlinks">
				Introduction & Links
			</paper-tab>
			<paper-tab bottomsetuppage="planningtext">
				Planning Intro
			</paper-tab>
		</paper-tabs>
		<neon-animated-pages
			id="bottomAdminPages"
			selected="{{bottomTabData.bottomTab}}"
			attr-for-selected="bottomsetuppage"
			entry-animation="scale-up-animation"
			exit-animation="fade-out-animation">
			<neon-animatable bottomsetuppage="essentialministries">
				<cep-admin-em
					user="{{user}}"
					main-loading="{{mainLoading}}"
					essential-ministries="{{essentialMinistries}}"
					review-year="{{reviewYear}}"
					settings="{{settings}}">
				</cep-admin-em>
			</neon-animatable>
			<neon-animatable bottomsetuppage="impactquestions">
				<cep-admin-iq
					user="{{user}}"
					main-loading="{{mainLoading}}"
					essential-ministries="{{essentialMinistries}}"
					review-year="{{reviewYear}}"
					settings="{{settings}}">
				</cep-admin-iq>
			</neon-animatable>
			<neon-animatable bottomsetuppage="introductionandlinks">
				<cep-admin-intro
					value="{{introAndLinks}}"
					settings="{{settings}}">
				</cep-admin-intro>
			</neon-animatable>
			<neon-animatable bottomsetuppage="planningtext">
				<cep-admin-planning-text
					value="{{planningIntro}}"
					settings="{{settings}}">
				</cep-admin-planning-text>
			</neon-animatable>
		</neon-animated-pages>
	</template>
</dom-module>

<script type="text/javascript" src="cep-admin-setup.js"></script>
