<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<!--
This behavior is for checking the validity of various objects for CEP.
-->
<script type="text/javascript" src="now-validation-behavior.js"></script>
