<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">

<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">

<link rel="import" href="../cep-admin-item/cep-admin-item.html">

<dom-module id="cep-admin-em">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				background-color: white;
				padding: 15px;
			}
			.hidden {
				display: none;
			}
			admin-item {
				margin-bottom: 5px;
				transition: opacity 0.7s ease-in, box-shadow 0.7s ease-in;
			}
			.editableContainer input {
				width: 100%;
				height: 25px;
				background-color: white;
			}
			.editableContainer .definitionField {
				margin-top: 2px;
				height: 45px;
			}
			.editableContainer paper-menu paper-item {
				font-size: 12px;
			}
			.readonlyContent {
				margin-right: 15px;
			}
			.readonlyContent:hover {
				cursor: context-menu;
			}
			.readonlyContent .readonlyDefinition {
				margin-top: 5px;
			}
			.adminItem {
				min-height: 40px;
				padding: 3px;
			}
		</style>
		<iron-ajax
			id="emPutAjax"
			url="{{settings.BASE_REST_URL}}/cep"
			method="PUT"
			content-type="application/json"
			handle-as="json"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<iron-ajax
			id="emPostAjax"
			url="{{settings.BASE_REST_URL}}/cep"
			method="POST"
			content-type="application/json"
			handle-as="json"
			on-response="_onEmItemCreated"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<iron-ajax
			id="emDeleteAjax"
			url="{{settings.BASE_REST_URL}}/cep"
			method="DELETE"
			content-type="application/json"
			handle-as="json"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<template is="dom-repeat" items="{{essentialMinistries}}" as="em">
			<cep-admin-item
				id="emItem"
				item-value="{{em.definition}}"
				item-id="{{em.emid}}"
				item-name="{{em.name}}"
				item="{{em}}"
				class="emItem"
				can-add-remove
				draggable
				collapse>
				<div class="editableContent layout vertical">
					<input
						id="emInput"
						is="iron-input"
						bind-value="{{em.name}}"
						type="text"
						name="name"
						class="flex" />
					<iron-autogrow-textarea
						id="emTextarea"
						name="definition"
						bind-value="{{em.definition}}"
						class="flex definitionField">
						{{em.definition}}
					</iron-autogrow-textarea>
				</div>
				<div id="emReadonlyContent" class="readonlyContent layout vertical">
					<span id="emName" class="readonlyName">{{em.name}}</span>
					<span id="emDef" class="readonlyDefinition">{{em.definition}}</span>
				</div>
				<div id="collapseContent" class="collapseContent">
					<template is="dom-repeat" items="{{em.subCategories}}" as="emsc">
						<cep-admin-item
							item-value="{{emsc.subcategory}}"
							item-name="subcategory"
							item-id="{{emsc.emscid}}"
							item="{{emsc}}"
							class="emscItem"
							draggable
							can-add-remove>
							<div class="editableContent">
								<div class="layout horizontal fieldContainer">
									<input
										id="emscInput"
										is="iron-input"
										bind-value="{{emsc.subcategory}}"
										type="text"
										class="flex self-center"
										name="subcategory" />
									<paper-dropdown-menu
										id="emscCombo"
										label="Duration"
										class="self-center emscComboBox"
										no-label-float>
										<paper-menu
											id="emscComboMenu"
											class="dropdown-content"
											attr-for-selected="value"
											selected="{{emsc.duration}}">
											<paper-item value="Weekly">Weekly</paper-item>
											<paper-item value="Monthly">Monthly</paper-item>
											<paper-item value="Quarterly">Quarterly</paper-item>
											<paper-item value="Annually">Annually</paper-item>
										</paper-menu>
									</paper-dropdown-menu>
								</div>
							</div>
							<span class="readonlyContent layout horizontal">
								<span id="emscReadonlyCategory" class="flex self-center">{{emsc.subcategory}}</span>
								<span id="emscReadonlyDuration" class="self-center">{{emsc.duration}}</span>
							</span>
						</cep-admin-item>
					</template>
				</div>
			</cep-admin-item>
		</template>
	</template>
</dom-module>

<script type="text/javascript" src="cep-admin-em.js"></script>
