<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../now-quill-editor/now-quill-editor.html">

<dom-module id="cep-admin-planning-text">
	<template>
		<style>
			:host {
				display: block;
				box-sizing: border-box;background-color: white;
			}
			now-quill-editor {
				margin-top: 20px;
			}
		</style>
		<iron-ajax
			id="planningIntroAjax"
			url="{{settings.BASE_REST_URL}}/cep"
			method="PUT"
			content-type="application/json"
			handle-as="json"
			verbose>
		</iron-ajax>
		<iron-ajax
			id="getPlanningIntroAjax"
			url="{{settings.BASE_REST_URL}}/sql"
			handle-as="json"
			verbose>
		</iron-ajax>
		<now-quill-editor
			id="planningEditor"
			place-holder="Enter the CEP Planning Page Text">
		</now-quill-editor>
	</template>
</dom-module>

<script type="text/javascript" src="cep-admin-planning-text.js"></script>
