<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../cep-print-em/cep-print-em.html">
<link rel="import" href="../cep-print-planning/cep-print-planning.html">

<dom-module id="cep-print-page">
	<template>
		<style>
			:host {
				display: block;
				box-sizing: border-box;
				overflow: auto;
				background-color: white;
			}
			.spinner {
				position: fixed;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: 2;
				background: rgba(255, 255, 255, 0.5);
				text-align: center;
			}

			.spinner paper-spinner {
				position: fixed;
				top: 45%;
			}
		</style>

		<app-location
			route="{{route}}"
			use-hash-as-path>
		</app-location>
		<app-route
			route="{{route}}"
			pattern="/:revid"
			data="{{routeData}}"
			tail="{{routeTail}}">
		</app-route>

		<iron-ajax
			id="printReviewAjax"
			url="/thq/cep2.nsf/xsp/review"
			handle-as="json"
			last-response="{{review}}"
			loading="{{printLoading}}"
			verbose>
		</iron-ajax>

		<iron-ajax
			id="settingsAjax"
			url="{{settingsUrl}}"
			last-response="{{settings}}"
			loading="{{mainLoading}}"
			handle-as="json"
			on-response="getUser"
			auto
			verbose>
		</iron-ajax>

		<iron-ajax
			id="userAjax"
			url="{{settings.BASE_REST_URL}}/user"
			handle-as="json"
			last-response="{{user}}"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>

		<div id="printSpinner"
			 class="spinner mainSpinner"
			 hidden$="{{!printLoading}}">
			<paper-spinner active></paper-spinner>
		</div>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<div class="navbar-brand">
						<img src="../../images/crest_bw_Outline.png" height="64px" width="54px">
						<span class="printHeader">Corps Evaluation and Planning</span>
					</div>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="corpName">
				CEP For: {{review.review.corpname}} - {{review.review.year}}
			</div>
			<div id="printReview">
				<div>
					<div class="printEMContainer">
						<template is="dom-repeat" items="{{review.review.essentialMinistries}}" as="em">
							<div class="printEM">
								<cep-print-em em="{{em}}"></cep-print-em>
							</div>
						</template>
					</div>
					<cep-print-planning
						evaluation="{{review}}"
						print-loading="{{printLoading}}"
						settings="{{settings}}"
						user="{{user}}">
					</cep-print-planning>
				</div>
			</div>
		</div>
	</template>
</dom-module>

<script type="text/javascript" src="cep-print-page.js"></script>
