<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<dom-module id="cep-print-planning">
	<template>
		<style>
			:host {
				display: block;
				box-sizing: border-box;
			}
		</style>
		<iron-ajax
			id="planningIntroAjax"
			url="/thq/cep2.nsf/xsp/cep"
			last-response="{{planningIntro}}"
			loading="{{printLoading}}"
			verbose>
		</iron-ajax>

		<div id="printPlanningContainer" class="printPlanningContainer corpPlanningContainer padded">
			<marked-element
				id="planningText"
				markdown="{{planningIntro.intro}}">
				<div class="markdown-html"></div>
			</marked-element>
			<div class="printConcentrationAreas">
				<div class="printConcentrationAreasHeader sectionHeader">
					<h5>Areas of Concentration</h5>
				</div>
				<div class="row printConcentrationArea1">
					<div class="col-xs-4">
						<div class="printCALabel">Essential Ministry 1</div>
						<div class="printCAEmValue">
							{{_getGoalEMName(evaluation, 0)}}
						</div>
					</div>
					<div class="col-xs-4">
						<div class="printCALabel">Sub-Ministry 1.1</div>
						<div class="printCASmValue">
							{{_getObjectiveEmscName(evaluation, 0, 0)}}
						</div>
					</div>
					<div class="col-xs-4">
						<div class="printCALabel">Sub-Ministry 1.2</div>
						<div class="printCASmValue">
							{{_getObjectiveEmscName(evaluation, 0, 1)}}
						</div>
					</div>
				</div>
				<div class="goalNotes row">
					<div class="col-xs-12">
						<div class="printCALabel">Goal 1 Notes</div>
						<div class="printCASmValue">
							{{_getGoalNotes(evaluation, 0)}}
						</div>
					</div>
				</div>
				<div class="row printConcentrationArea2">
					<div class="col-xs-4">
						<div class="printCALabel">Essential Ministry 2</div>
						<div class="printCAEmValue">
							{{_getGoalEMName(evaluation, 1)}}
						</div>
					</div>
					<div class="col-xs-4">
						<div class="printCALabel">Sub-Ministry 2.1</div>
						<div class="printCASmValue">
							{{_getObjectiveEmscName(evaluation, 1, 0)}}
						</div>
					</div>
					<div class="col-xs-4">
						<div class="printCALabel">Sub-Ministry 2.2</div>
						<div class="printCASmValue">
							{{_getObjectiveEmscName(evaluation, 1, 1)}}
						</div>
					</div>
				</div>
				<div class="goalNotes2 row">
					<div class="col-xs-12">
						<div class="printCALabel">Goal 2 Notes</div>
						<div class="printCASmValue">
							{{_getGoalNotes(evaluation, 1)}}
						</div>
					</div>
				</div>
				<template is="dom-repeat" items="{{evaluation.review.goals}}" as="goal" index-as="goalIdx">
					<div class="printGoalContainer">
						<div class="printGoalHeader sectionHeader">
							<h5>{{_getEMName(evaluation, goal.emid)}}</h5>
						</div>
						<div class="printObjectiveContainer">
							<template is="dom-repeat" items="{{goal.objectives}}" as="obj" index-as="objIdx">
								<div class="printObjectiveHeader row">
									<h5 class="inlineHeader col-xs-5">
										Objective: {{_getEmscName(evaluation, obj.emscid)}}
									</h5>
								</div>
								<div class="printObjActionsContainer row">
									<template is="dom-repeat" items="{{obj.actions}}" as="action" index-as="actIdx">
										<template is="dom-if" if="{{_isActionVisible(action)}}">
											<div class="row printActionRow hpadded">
												<div class="col-xs-4">
													<div class="printActLabel">Action Step</div>
													<div class="printActValue">
														{{action.step}}
													</div>
												</div>
												<div class="col-xs-4">
													<div class="printActLabel">Person Responsible</div>
													<div class="printActValue">
														{{action.personresponsible}}
													</div>
												</div>
												<div class="col-xs-4">
													<div class="printActLabel">Due Date</div>
													<div class="printActValue">
														{{action.duedate}}
													</div>
												</div>
											</div>
										</template>
									</template>
									<div class="objNotes row hpadded">
										<div class="col-xs-12">
											<div class="printCALabel">
												Objective: {{_getEmscName(evaluation, obj.emscid)}} Notes
											</div>
											<div class="printCASmValue">
												{{obj.objectivename}}
											</div>
										</div>
									</div>
								</div>
							</template>
						</div>
					</div>
				</template>
			</div>
		</div>
		<div class="printPlanningAttendees">
			<h4>Attendees/Participants</h4>
			<div>{{evaluation.review.attendees}}</div>
		</div>
		<template is="dom-if" if="{{_isAdmin(user)}}">
		<div class="printDhqReview">
			<h4>Divisional Staff Officer Review</h4>
			{{evaluation.review.officerreview}}
		</div>
		</template>
	</template>
</dom-module>

<script type="text/javascript" src="cep-print-planning.js"></script>
