<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<!--
This behavior is for dynamically setting the transition to be used on a neon-animated-pages
element within a custom element. The transition type is based on The animationType which can be
 slideHorizontal, slideVertical, scale, fade, and none.

 You must ensure the pages are in the expected order of navigation. Meaning the first/home page is the first
 page defined in the DOM for neon-animated-pages. This is what determines a the animation to apply. For example. If slideHorizontal is the tranistion type, and you're navigating from the first page to the second page, we want a slide-left exit animation and a slide-from-right entry animation. But if we're navigating from the second page to the first page we'll want a slide-right exit animation and a slide-from-left entry animation. The only way to determine this is from the order of the pages in the DOM.

This behavior will be placed in the global variable called NowBehaviors. To use this behavior, in
the behaviors array of an element, it will be defined as 'NowBehaviors.AnimatedPagesBehavior'

##Example
    properties: {
		neonPagesElement: {
			type: Object,
			value: function() {
				this.$.neonAnimatedPages
			}
		},
		animationType: scale
    },
    behaviors: [
		NowBehaviors.AnimatedPagesBehavior
	],
	onPageChange: function(page) {
		this.transitionToPage(page);⁄¡
	}
-->
<script type="text/javascript" src="now-animated-behavior.js"></script>
